div.board-page p,
div.board-page span {
    font-family: 'Inter';
    font-style: normal;
}

div.board-page div {
    display: inline-block;
}

div.board-page div.board-menubar {
    /* position: relative; */
    width: 215px;
    height: 690px;
    margin-top: 43px;
    margin-left: 184px;
}

div.board-page div.board-menubar div.category-section {
    position: absolute;
    width: 150px;
    height: 532px;
    margin: 33px 38px 21px 45px;
}

div.board-page div.board-menubar div.category-section .category:hover {
    background-color: rgba(115, 130, 114, 0.7);
    border-radius: 30px;
}

div.board-page div.board-menubar div.category-section .category1 {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    text-decoration: none;
}

div.board-page div.board-menubar div.category-section .category1 img {
    width: 50px;
    height: 50px;
}

div.board-page div.board-menubar div.category-section .category1 .category1-title {
    /* width: 100px; */
    margin-left: 11px;
}

div.board-page div.board-menubar div.category-section .category2 {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    text-decoration: none;
}

div.board-page div.board-menubar div.category-section .category2 img {
    width: 50px;
    height: 50px;
}

div.board-page div.board-menubar div.category-section .category2 .category2-title {
    /* width: 100px; */
    margin-left: 11px;
}

div.board-page div.board-menubar div.category-section .category3 {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    text-decoration: none;
}

div.board-page div.board-menubar div.category-section .category3 img {
    width: 50px;
    height: 50px;
}

div.board-page div.board-menubar div.category-section .category3 .category3-title {
    /* width: 100px; */
    margin-left: 11px;
}

div.board-page div.board-menubar div.category-section .category4 {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    text-decoration: none;
}

div.board-page div.board-menubar div.category-section .category4 img {
    width: 50px;
    height: 50px;
}

div.board-page div.board-menubar div.category-section .category4 .category4-title {
    /* width: 100px; */
    margin-left: 11px;
}

div.board-page div.board-menubar a.writeButton {
    position: absolute;
    width: 126px;
    height: 52px;
    background: #6A8728;
    border-radius: 10px;
    margin-top: 617px;
    margin-left: 57px;
}

div.board-page div.board-menubar a.writeButton div.writeButton-1 {
    /* position: absolute; */
    margin: 15px 40px 16px 39px;
    width: 60px;
    height: 21px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: #FFFFFF;
}

div.board-page div.board-category-1 {
    position: relative;
    width: 1120px;
    height: auto;
    margin-left: 123px;
    margin-top: 58px;
}

div.board-page div.board-category-1 div {
    display: inline-block;
}

div.board-page div.board-category-1 div.board-category-1-background {
    position: relative;
    width: 1120px;
    height: auto;
    background: #D9D9D9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.board-page div.board-category-1 div.board-category-1-headerbar {
    position: absolute;
    display: inline-block;
    width: 1120px;
    height: 58px;
    background: #808080;
    border-radius: 30px 30px 0px 0px;
}

div.board-page div.board-category-1 div.board-category-1-background div.board-category-1-headerbar img.board-category-1-headerbar-img {
    /* display: inline; */
    width: 31.11px;
    height: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 34px;
}

div.board-page div.board-category-1 div.board-category-1-background div.board-category-1-headerbar p.board-category-1-headerbar-title {
    display: inline;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 8.89px;
}

div.board-page div.board-category-1 div.board-category-1-background div.board-category-1-headerbar div.board-category-1-headerbar-btn {
    display: inline;
    position: inherit;
    width: 65px;
    height: 26px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-top: 16px;
    margin-right: 32px;
    right: 0;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content {
    margin-top: 15px;
    width: 1090px;
    height: 136px;
    background: #FFFFFF;
    border-radius: 30px;
    position: relative;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content:nth-of-type(2) {
    margin-top: 72px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content:last-child {
    margin-bottom: 15px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content p.board-category-1-content-title {
    margin-top: 13px;
    margin-left: 32px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content p.board-category-1-content-detail {
    /* width: 513px; */
    height: 21px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin-top: 0px;
    margin-left: 32px;
    margin-bottom: 0px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content div.board-category-1-content-info {
    position: absolute;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content div.board-category-1-content-info div,
div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content div.board-category-1-content-info p {
    display: inline-block;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content div.board-category-1-content-info div.board-category-1-content-info-dday {
    /* display: inline; */
    width: 43px;
    height: 20px;
    background: #E35656;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 32px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content div.board-category-1-content-info-dday span.board-category-1-content-info-dday-text {
    /* display: inline; */
    display: flex;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 3px;
    margin-left: 4px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content p.board-category-1-content-info-date {
    display: inline;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-left: 10px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content p.board-category-1-content-info-address {
    display: inline;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-left: 22px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content p.board-category-1-content-info2 {
    position: relative;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content .board-category-1-content-info2 img,
div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content .board-category-1-content-info2 p {
    display: inline-block;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content .board-category-1-content-info2-group {
    display: inline;
    width: 18.57px;
    height: 20px;
    margin-top: 38px;
    margin-left: 40px;
}

div.board-page div.board-category-1 div.board-category-1-background .board-category-1-content .board-category-1-content-info2-count {
    position: absolute;
    width: 100px;
    height: 15px;
    display: inline;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-left: 25.43px;
    margin-bottom: 10px;
    margin-top: 38px;
}

div.board-page div.board-category-1 div.board-category-1-background div.moreButton {
    /* position: absolute; */
    width: 200px;
    height: 56.52px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 30px auto;
}

div.board-page div.board-category-1 div.board-category-1-background div.moreButton div.moreButton-section {
    cursor: pointer;
}

div.board-page div.board-category-1 div.board-category-1-background div.moreButton div.moreButton-section span.moreButton-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

div.board-page div.board-category-1 div.board-category-1-background div.moreButton div.moreButton-section img.moreButton-arrow {
    width: 16.92px;
    height: 13.16px;
    margin-left: 15px;
    object-fit: contain; /* 이미지의 비율을 유지하면서 크기를 조정 */
}



