.heading {
    display: flex;
    background: #268B5F;
    border-radius: 20px 20px 0 0;
    width: 500px;
    height: 50px;
    align-items: center;
    position: relative;
}

.heading span {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 3%;
}

.chatJoinContent {
    margin-top: 80px;
}

.chatJoinContent span {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.joinOuterContainer {
    width: 100%;
    height: auto;
}

.joinInput {
    margin-top: 40px;
    margin-bottom: -40px;
}

.joinInput2 {
    margin-bottom: 10px;
}

.joinInput, .joinInput2 {
    display: flex;
    justify-content: center;

}

.joinInput input , .joinInput2 input{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.562);
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.3s;
}

.ButtonContent {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.joinButton {
    cursor: pointer;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: rgba(7, 187, 7, 0.795);
    color: whitesmoke;
    font-weight: bolder;
    font-size: 16px;
    transition: all 0.3s;
    margin-top: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.joinButton:hover {
    background: rgb(5, 145, 5);
    color: rgb(255, 255, 255);
}

.infoBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    background: #268B5F;
    border-radius: 20px 20px 0 0;
}

.chatClose {
    padding-right: 20px;
}

.infoBar h3 {
    color: white;
    letter-spacing: 1px;
}

.messageContainer {
    display: flex;
    margin-top: 3px;
}

.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 1px 20px;
    color: white;
    display: inline-block;
    max-width: 70%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 0.8em;
    word-wrap: break-word;
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    font-size: 0.7em;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.justifyStart {
    justify-content: flex-start;
    /* width: 500px; */
    margin-top: 20px;
    margin-bottom: 15px;
}

.activeItem {
    display: flex;
    align-items: center;
}

.messageContent {
    /* position: relative; */
    width: 450px;
    height: 520px;
    overflow-y: auto;
}

.ChatContent {
    position: fixed;
    overflow: auto;
    display: flex;
    background: #F3F0F0;
    border-radius: 20px 20px 0 0;
    width: 450px;
}

.ChatStyle {
    position: absolute;
    /* margin-bottom: 1200px; */
    bottom: -110px;
    left: 250px;
    background: #ccc;
    border-radius: 20px 20px 0 0;
    overflow: auto;
    height: 650px;
}

.justifyEnd {
    justify-content: flex-end;
    margin-bottom: 15px;
}

.colorWhite {
    color: white;
}

.colorDark {
    color: #353535;
}

.backgroundBlue {
    background: #2979FF;
}

.backgroundLight {
    background: #FFFFFF;
}

.messages {
    padding: 0;
    overflow-y: auto;
    flex: auto;
    position: relative;
    /* width: 500px; */
}

.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    /* width: 450px; */
    height: 60px;
}

.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.0em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}