/* header */
.header {
    /*width: 100vw;*/
    height: 10.19vh;
}

.header .menu {
    width: 100%;
    /* display: flex; */
}

.header .menu .menuList1 {
    position: absolute;
    height: 40px;
    margin: 2.5vw 0;
    /* float: left; */
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    /* justify-content: space-between; */
}

.header .menu .menuList1 .logo {
    width: 12.24vw;
    height: 6.67vh;
}

.header .menu .menuList1 li {
    margin-left: 4.7vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    /* line-height: 1.88vw; */
    
}

.header .menu .menuList1 li>a {
    color: #000000;
    text-decoration: none;
    outline: none;
}

/* 로그인 전 */
.header .menu .menuList2-fail {
    float: right;
    margin-right: 7.81vw;
    margin-top: 2.5vw;
    margin: 2.5vw 7.81vw 2.5vw 0;
    height: 40px;
    /* padding: 0.99vw; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .menu .menuList2-fail li {
    margin-left: 1.04vw;
}

.header .menu .menuList2-fail .bell,
.header .menu .menuList2-fail .chat {
    width: 2.08vw;
    height: 3.70vh;
    cursor: pointer;
}

header.header div.menu ul.menuList2-fail li img.bell:hover,
header.header div.menu ul.menuList2-fail li img.chat:hover {
    background: lightgray;
    padding: 5%;
    border-radius: 10px;
}

.header .menu .menuList2-fail .menuList2-login .login,
.header .menu .menuList2-fail .menuList2-join .join
{
    width: 1.56vw;
    height: 2.78vh;
}

.header .menu .menuList2-fail .menuList2-login,
.header .menu .menuList2-fail .menuList2-join {
    width: 8.85vw;
    height: 6vh;
    padding: 0.10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    /* line-height: 1.25vw; */

    background: #D9D9D9;
    border-radius: 5.21vw;
    color: #000000;
}

.header .menu .menuList2-fail .menuList2-box {
    width: 0.10vw;
    height: 5.56vh;
    background: #000000;
}

/* 로그인 후 */
.header .menu .menuList2-sucs {
    float: right;
    margin-right: 7.81vw;
    margin-top: 2.5vw;
    margin: 2.5vw 7.81vw 2.5vw 0;
    height: 40px;
    /* padding: 0.99vw; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .menu .menuList2-sucs li {
    margin-left: 1.04vw;
}

.header .menu .menuList2-sucs .bell,
.header .menu .menuList2-sucs .chat,
.header .menu .menuList2-sucs .menuList2-mypage .mypage,
.header .menu .menuList2-sucs .menuList2-logout .logout
{
    width: 1.5vw;
    height: 2.78vh;
    cursor: pointer;
}

.header .menu .menuList2-sucs .bell:hover,
.header .menu .menuList2-sucs .chat:hover,
.header .menu .menuList2-sucs .bell.active,
.header .menu .menuList2-sucs .chat.active {
    background: lightgray;
    padding: 5%;
    border-radius: 10px;
}

.header .menu .menuList2-sucs .menuList2-mypage,
.header .menu .menuList2-sucs .menuList2-logout {
    width: 8vw;
    /* height: 4.63vh; */
    height: 5vh;
    padding: 0.10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8vw;
    /* line-height: 24px; */

    background: #D9D9D9;
    border-radius:  5.21vw;
    color: #000000;
}

.header .menu .menuList2-sucs .menuList2-box {
    width: 0.10vw;
    height: 5.56vh;
    background: #000000;
}


/* notification css */

header div.test {
    position: relative;
    width: 100%;
    z-index: 9;
}

header div.test.hide {
    display: none;
}

header div.test div.test2 {
    position: absolute;
    margin-left: 60%;
    margin-top: 6%;
    width: 524px;
    height: 650px;
}

header div.test div.test2 div.notification-section {
    position: relative;
    width: 500px;
    height: 650px;
    background: #F3F0F0;
    overflow-y: auto; /* 세로 스크롤을 나타나게 하는 속성 추가 */
    overflow-x: hidden; /* 가로 스크롤을 숨기는 속성 추가 */
}

header div.test div.test2 div.notification-headerBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    background: #268B5F;
    border-radius: 20px 20px 0px 0px;
}

header div.test div.test2 div.notification-headerBar img.notification-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-left: 3%;
}

header div.test div.test2 div.notification-headerBar span.notification-text {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 3%;
}

header div.test div.test2 div.notification-headerBar div.clear-button {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-right: 3%;
}

header div.test div.test2 div.notification-headerBar div.clear-button div.clear-button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    cursor: pointer;
}

header div.test div.test2 div.notification-section div.notification {
    position: relative;
    width: 500px;
    height: 140px;
    cursor: default;
}

header div.test div.test2 div.notification-section div.notification img.notification-XIcon {
    position: relative;
    width: 27px;
    height: 27px;
    left: 91%;
    margin-top: 3%;
    cursor: pointer;
}

header div.test div.test2 div.notification-section div.notification p.notification-content {
    width: 85%;
    height: 60px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
}

header div.test div.test2 div.notification-section div.notification span.notification-date {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
    left: 70%;
}

/* message css */

header div.first-background {
    position: relative;
    width: 100%;
    z-index: 8;
}

header div.first-background.hide {
    display: none;
}

header div.first-background div.second-background {
    position: absolute;
    margin-left: 60%;
    margin-top: 6%;
    width: 524px;
    height: 650px;
}

header div.first-background div.second-background div.message-headerBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    background: #268B5F;
    border-radius: 20px 20px 0px 0px;
}

header div.first-background div.second-background div.message-headerBar img.message-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-left: 3%;
}

header div.first-background div.second-background div.message-headerBar span.message-text {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 3%;
}

header div.first-background div.second-background div.message-section {
    position: relative;
    width: 500px;
    height: 650px;
    background: #F3F0F0;
    overflow-y: auto; /* 세로 스크롤을 나타나게 하는 속성 추가 */
    overflow-x: hidden; /* 가로 스크롤을 숨기는 속성 추가 */
}

header div.first-background div.second-background div.message-section div.typeBar {
    display: flex;
    position: relative;
    width: 100%;
    margin-left: 4%;
}

header div.first-background div.second-background div.message-section div.typeBar div.personal-message {
    width: 151px;
    height: 46px;
    background: #D9D9D9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    cursor: pointer;
}

header div.first-background div.second-background div.message-section div.typeBar div.personal-message.active {
    background: #268B5F;
}

header div.first-background div.second-background div.message-section div.typeBar div.personal-message span.personal-message-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

header div.first-background div.second-background div.message-section div.typeBar div.group-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 46px;
    background: #D9D9D9;
    border-radius: 30px;
    margin-top: 4%;
    margin-left: 4%;
    cursor: pointer;
}

header div.first-background div.second-background div.message-section div.typeBar div.group-message.active {
    background: #268B5F;
}

header div.first-background div.second-background div.message-section div.typeBar div.group-message span.group-message-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

header div.first-background div.second-background div.message-section div.personal-message-section {
    position: relative;
    width: 100%;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content {
    display: flex;
    align-items: center;
    margin-top: 8%;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content:last-child {
    margin-bottom: 8%;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content img.personIcon {
    width: 45px;
    height: 45px;
    margin-left: 5%;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content div.text-group {
    margin-left: 5%;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content div.text-group span.sender-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content div.text-group p.message-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 2%;
    margin-bottom: 0;
    width: 325px;
    max-height: 60px;
}

header div.first-background div.second-background div.message-section div.personal-message-section div.personal-message-content img.redDot {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    margin-right: 8%;
}

header div.first-background div.second-background div.message-section div.group-message-section {
    position: relative;
    width: 100%;
}

header div.first-background div.second-background div.message-section div.group-message-section div.group-message-content {
    display: flex;
    align-items: center;
    margin-top: 8%;
    cursor: pointer;
}

header div.first-background div.second-background div.message-section div.group-message-section div.group-message-content img.groupIcon {
    width: 45px;
    height: 45px;
    margin-left: 5%;
}

header div.first-background div.second-background div.message-section div.group-message-section div.group-message-content div.text-group {
    margin-left: 5%;
}

header div.first-background div.second-background div.message-section div.group-message-section div.group-message-content div.text-group span.groupName-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

header div.first-background div.second-background div.message-section div.group-message-section div.group-message-content div.text-group p.message-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 2%;
    margin-bottom: 0;
    width: 325px;
    max-height: 60px;
}

header div.first-background div.second-background div.message-section div.group-message-section div.group-message-content img.redDot {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    margin-right: 8%;
}



/* chat css */

header div.chat-section {
    position: relative;
    width: 100%;
    z-index: 9;
}

header div.chat-section.hide {
    display: none;;
}

header div.chat-section div.chat-background {
    position: fixed;
    /* margin-left: 60%;
    margin-top: 6%; */
    right: 0;
    bottom: 0;
    width: 524px;
    height: auto;
}

header div.chat-section div.chat-background:nth-of-type(2) {
    position: fixed;
    /* margin-left: 60%;
    margin-top: 6%; */
    right: 524px;
    bottom: 0;
    width: 524px;
    height: auto;
}

header div.chat-section div.chat-background:nth-of-type(3) {
    position: fixed;
    /* margin-left: 60%;
    margin-top: 6%; */
    right: 1048px;
    bottom: 0;
    width: 524px;
    height: auto;
}

header div.chat-section div.chat-background div.chat-headerBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    background: #268B5F;
    border-radius: 20px 20px 0px 0px;
}

header div.chat-section div.chat-background div.chat-headerBar p.chat-partner {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 3%;
}

header div.chat-section div.chat-background div.chat-headerBar img.arrow-icon {
    position: absolute;
    right: 0;
    width: 25px;
    height: 15px;
    margin-right: 13%;
    cursor: pointer;
}

header div.chat-section div.chat-background div.chat-headerBar img.x-icon {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: 3%;
    cursor: pointer;
}

header div.chat-section div.chat-background div.chat-main {
    position: relative;
    width: 500px;
    height: 650px;
    background: #F3F0F0;
    overflow-y: auto; /* 세로 스크롤을 나타나게 하는 속성 추가 */
    overflow-x: hidden; /* 가로 스크롤을 숨기는 속성 추가 */
    display: flex;
    flex-direction: column-reverse;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group {
    position: relative;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-recipient {
    position: relative;
    /* display: inline-block; */
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-bottom: 3%;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-recipient img.recipient-icon {
    position: relative;
    display: inline;
    width: 40px;
    height: 40px;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-recipient div.chat-info {
    position: relative;
    display: inline;
    margin-left: 3%;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-recipient div.chat-info span.chat-recipient-name {

}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-recipient div.chat-info div.chat-text-box {
    max-width: 400px;
    height: auto;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-recipient div.chat-info div.chat-text-box p.chat-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 10px;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-sender {
    position: relative;
    width: 500px;
    height: auto;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    justify-content: end;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-sender div.chat-text-box {
    position: relative;
    /* right: 0; */
    max-width: 400px;
    height: auto;
    background: #D9D9D9;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

header div.chat-section div.chat-background div.chat-main div.chat-content-group div.chat-sender div.chat-text-box p.chat-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 10px;
}

header div.chat-section div.chat-background div.chat-main div.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    position: relative;
    z-index: 9;
    width: 500px;
    height: 94px;
}

header div.chat-section div.chat-background div.chat-main div.chatbox div.chatbox-background {
    position: fixed;
    width: 477px;
    height: 94px;
    background: #D9D9D9;
    display: flex;
    align-items: center;

}

header div.chat-section div.chat-background div.chat-main div.chatbox div.chatbox-background input {
    background-color: #D9D9D9;
    width: 384px;
    height: 61px;
    margin-left: 4%;
}

header div.chat-section div.chat-background div.chat-main div.chatbox div.chatbox-background img.send-chat-icon {
    position: absolute;
    width: 26.94px;
    height: 25px;
    right: 0;
    margin-right: 4%;
}