/* header */
.header {
    /* width: 100vw; */
    height: 10.19vh;
}

.header .menu {
    width: 100%;
    /* display: flex; */
}

.header .menu .menuList1 {
    position: absolute;
    height: 40px;
    margin: 2.5vw 0;
    /* float: left; */
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    /* justify-content: space-between; */
}

.header .menu .menuList1 .logo {
    width: 12.24vw;
    /* height: 6.67vh; */
}

.header .menu .menuList1 li {
    margin-left: 4.7vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.56vw;
    /* line-height: 1.88vw; */
    
}

.header .menu .menuList1 li>a {
    color: #000000;
    text-decoration: none;
    outline: none;
}

/* 로그인 전 */
.header .menu .menuList2-fail {
    float: right;
    margin-right: 7.81vw;
    margin-top: 2.5vw;
    margin: 2.5vw 7.81vw 2.5vw 0;
    height: 40px;
    /* padding: 0.99vw; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .menu .menuList2-fail li {
    margin-left: 1.04vw;
}

.header .menu .menuList2-fail .bell,
.header .menu .menuList2-fail .chat {
    width: 2.08vw;
    height: 3.70vh;
}

.header .menu .menuList2-fail .menuList2-login .login,
.header .menu .menuList2-fail .menuList2-join .join
{
    width: 1.56vw;
    height: 2.78vh;
}

.header .menu .menuList2-fail .menuList2-login,
.header .menu .menuList2-fail .menuList2-join {
    width: 8.85vw;
    height: 6vh;
    padding: 0.10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.04vw;
    /* line-height: 1.25vw; */

    background: #D9D9D9;
    border-radius: 5.21vw;
    color: #000000;
}

/* .header .menu .menuList2-fail .menuList2-join img {
    padding: 3px;
} */

.header .menu .menuList2-fail .menuList2-box {
    width: 0.10vw;
    height: 5.56vh;
    background: #000000;
}

/* 로그인 후 */
.header .menu .menuList2-sucs {
    float: right;
    margin-right: 7.81vw;
    margin-top: 2.5vw;
    margin: 2.5vw 7.81vw 2.5vw 0;
    height: 40px;
    /* padding: 0.99vw; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .menu .menuList2-sucs li {
    margin-left: 1.04vw;
}

.header .menu .menuList2-sucs .bell,
.header .menu .menuList2-sucs .chat,
.header .menu .menuList2-sucs .menuList2-mypage .mypage,
.header .menu .menuList2-sucs .menuList2-logout .logout
{
    width: 2.08vw;
    height: 3.70vh;
}

.header .menu .menuList2-sucs .menuList2-mypage,
.header .menu .menuList2-sucs .menuList2-logout {
    width: 8.85vw;
    /* height: 4.63vh; */
    height: 6vh;
    padding: 0.10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.04vw;
    /* line-height: 24px; */

    background: #D9D9D9;
    border-radius:  5.21vw;
    color: #000000;
}

.header .menu .menuList2-sucs .menuList2-box {
    width: 0.10vw;
    height: 5.56vh;
    background: #000000;
}