/* header */
.header {
    /*width: 100vw;*/
    height: 10.19vh;
}

.header .menu {
    width: 100%;
    /* display: flex; */
}

.header .menu .menuList1 {
    position: absolute;
    height: 40px;
    margin: 2.5vw 0;
    /* float: left; */
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    /* justify-content: space-between; */
}

.header .menu .menuList1 .logo {
    width: 12.24vw;
    height: 6.67vh;
}

.header .menu .menuList1 li {
    margin-left: 4.7vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    /* line-height: 1.88vw; */
    
}

.header .menu .menuList1 li>a {
    color: #000000;
    text-decoration: none;
    outline: none;
}

/* 로그인 전 */
.header .menu .menuList2-fail {
    float: right;
    margin-right: 7.81vw;
    margin-top: 2.5vw;
    margin: 2.5vw 7.81vw 2.5vw 0;
    height: 40px;
    /* padding: 0.99vw; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .menu .menuList2-fail li {
    margin-left: 1.04vw;
}

.header .menu .menuList2-fail .bell,
.header .menu .menuList2-fail .chat {
    width: 2.08vw;
    height: 3.70vh;
}

.header .menu .menuList2-fail .menuList2-login .login,
.header .menu .menuList2-fail .menuList2-join .join
{
    width: 1.56vw;
    height: 2.78vh;
}

.header .menu .menuList2-fail .menuList2-login,
.header .menu .menuList2-fail .menuList2-join {
    width: 8.85vw;
    height: 6vh;
    padding: 0.10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    /* line-height: 1.25vw; */

    background: #D9D9D9;
    border-radius: 5.21vw;
    color: #000000;
}

.header .menu .menuList2-fail .menuList2-box {
    width: 0.10vw;
    height: 5.56vh;
    background: #000000;
}

/* 로그인 후 */
.header .menu .menuList2-sucs {
    float: right;
    margin-right: 7.81vw;
    margin-top: 2.5vw;
    margin: 2.5vw 7.81vw 2.5vw 0;
    height: 40px;
    /* padding: 0.99vw; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .menu .menuList2-sucs li {
    margin-left: 1.04vw;
}

.header .menu .menuList2-sucs .bell,
.header .menu .menuList2-sucs .chat,
.header .menu .menuList2-sucs .menuList2-mypage .mypage,
.header .menu .menuList2-sucs .menuList2-logout .logout
{
    width: 2.08vw;
    height: 3.70vh;
}

.header .menu .menuList2-sucs .menuList2-mypage,
.header .menu .menuList2-sucs .menuList2-logout {
    width: 8.85vw;
    /* height: 4.63vh; */
    height: 6vh;
    padding: 0.10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    /* line-height: 24px; */

    background: #D9D9D9;
    border-radius:  5.21vw;
    color: #000000;
}

.header .menu .menuList2-sucs .menuList2-box {
    width: 0.10vw;
    height: 5.56vh;
    background: #000000;
}


/* notification css */

header div.test {
    position: relative;
    width: 100%;
    z-index: 9;
}

header div.test.hide {
    display: none;
}

header div.test div.test2 {
    position: absolute;
    margin-left: 60%;
    margin-top: 6%;
    width: 524px;
    height: 650px;
}

header div.test div.test2 div.notification-section {
    position: relative;
    width: 500px;
    height: 650px;
    background: #F3F0F0;
    overflow-y: auto; /* 세로 스크롤을 나타나게 하는 속성 추가 */
    overflow-x: hidden; /* 가로 스크롤을 숨기는 속성 추가 */
}

header div.test div.test2 div.notification-headerBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    background: #268B5F;
    border-radius: 20px 20px 0px 0px;
}

header div.test div.test2 div.notification-headerBar img.notification-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-left: 3%;
}

header div.test div.test2 div.notification-headerBar span.notification-text {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 3%;
}

header div.test div.test2 div.notification-headerBar div.clear-button {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-right: 3%;
}

header div.test div.test2 div.notification-headerBar div.clear-button div.clear-button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

header div.test div.test2 div.notification-section div.notification {
    position: relative;
    width: 500px;
    height: 140px;
}

header div.test div.test2 div.notification-section div.notification img.notification-XIcon {
    position: relative;
    width: 27px;
    height: 27px;
    left: 91%;
    margin-top: 3%;
}

header div.test div.test2 div.notification-section div.notification p.notification-content {
    width: 85%;
    height: 60px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
}

header div.test div.test2 div.notification-section div.notification span.notification-date {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
    left: 70%;
}

/* message css */

header div.first-background {

}

header div.first-background div.second--background {

}

header div.first-background div.second--background div.message-headerBar {

}

header div.first-background div.second--background div.message-headerBar img.message-icon {

}

header div.first-background div.second--background div.message-headerBar span.message-text {

}

header div.first-background div.second--background div.message-section {

}

header div.first-background div.second--background div.message-section div.typeBar {

}

header div.first-background div.second--background div.message-section div.typeBar div.personal-message {

}

header div.first-background div.second--background div.message-section div.typeBar div.personal-message span.personal-message-text {

}

header div.first-background div.second--background div.message-section div.typeBar div.group-message {

}

header div.first-background div.second--background div.message-section div.typeBar div.group-message span.group-message-text {

}

header div.first-background div.second--background div.message-section div.personal-message-section {

}

header div.first-background div.second--background div.message-section div.personal-message-section div.personal-message-content {

}

header div.first-background div.second--background div.message-section div.personal-message-section div.personal-message-content img.personIcon {

}

header div.first-background div.second--background div.message-section div.personal-message-section div.personal-message-content span.sender-text {

}

header div.first-background div.second--background div.message-section div.personal-message-section div.personal-message-content p.message-content {

}

header div.first-background div.second--background div.message-section div.personal-message-section div.personal-message-content img.redDot {

}

header div.first-background div.second--background div.message-section div.group-message-section {

}

header div.first-background div.second--background div.message-section div.group-message-section div.group-message-content {

}

header div.first-background div.second--background div.message-section div.group-message-section div.group-message-content img.groupIcon {

}

header div.first-background div.second--background div.message-section div.group-message-section div.group-message-content span.groupName-text {

}

header div.first-background div.second--background div.message-section div.group-message-section div.group-message-content p.message-content {

}

header div.first-background div.second--background div.message-section div.group-message-section div.group-message-content img.redDot {
    
}