.InfoBody {
    width: 100%;
    height: 1200px;
}

.InfoBanner {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background: url("/public/img/room/study room5-1.png");
    background-size: cover;
    /*background-position-y: 10px;*/
    background-position: center;
    /*display: flex;*/
    justify-content: center;
    background-repeat: no-repeat;
    /*overflow: hidden;*/
}

.InfoBannerAll {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 51px;
}


.InfoBannerBox {
    width: 800px;
    height: 110px;
    background: #FFFFFF;
    /*margin-top: 105px;*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.InfoBannerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.InfoBannerLogo1 {
    margin-top: 20px;
    display: flex;
}

.InfoBannerLogo span {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 77px;
    color: #FFFFFF;
}

.InfoBannerBox span {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 77px;

    color: #000000;
}

.InfoBody1 {
    width: 100%;
    height: 35px;
    background: #FFD25F;
}
.InfoBody2 {
    width: 100%;
    height: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #333333;
    display: flex;
    justify-content: center;
}

.InfoDetail {
    box-sizing: border-box;
    width: 800px;
    height: 100px;

    background: #FFFFFF;
    border: 1px solid #000000;
    /*display: flex;*/
    /*justify-content: center;*/
}

.InfoDetail1 {
    display: flex;
    justify-content: center;
}

.InfoDetail2 span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-left: 20%;
}

.InfoDetail span {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 50px;
    color: #000000;
}

.InfoCreditBox {
    /*margin-top: 8%;*/
    display: flex;
    margin: 4% 0 0 25%;
}

.InfoCreditBox1 {
    position: absolute;
    width: 235px;
    height: 205px;
    background: #FF7777;

}

.InfoCreditBox2 {
    /*box-sizing: border-box;*/
    width: 800px;
    height: 205px;
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 230px;
}

.TicketRow {
    display: flex;
    justify-content: center;
    width: 50%;
    align-content: center;
}



.InfoBox1 span {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 93% */

    color: #FFFFFF;


}

.priceText {
    margin-left: 80px;
}

.TicketText span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.TicketText {
    margin-top: 10px;
}

/*.TicketText span {*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 16px;*/
/*    line-height: 30px;*/
/*    color: #000000;*/
/*}*/
/*.TicketRow {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 50%;*/

/*}*/

/*.TicketText {*/
/*    z-index: 1000;*/
/*    color: black;*/
/*    margin-left: 300px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*}*/

.InfoBox {
    display: flex;
    margin-top: 70px;

}

.InfoBox1 {
    width: 235px;
    height: 205px;
    background: #FF7777;
    margin-left: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.InfoBox2 {
    width: 800px;
    height: 205px;
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
}

.TicketText1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;

    color: #000000;
    margin-top: 25px;
}
