.MainSection1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
                url("/public/img/banner.png");
    width: 100%;
    height: 900px;
    background-size: cover;
    overflow: hidden;
}

.MainSection1 .MainHeader {
    margin-top: 187px;
    text-align: center;
    color: #ffffff;
}

.MainSection1 .MainContent {
    margin-top: 100px;
}

.MainSection1 .MainHeader .MainHeader-first {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
}

.MainSection1 .MainHeader .MainHeader-second {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
}

.MainSection1 .MainContent {    
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.MainSection1 .MainContent .MainContent-content1, 
.MainSection1 .MainContent .MainContent-content2, 
.MainSection1 .MainContent .MainContent-content3 {
    margin: 0 60px;
}

.MainSection1 .MainContent .MainContent-content1 .MainContent-content1-first, 
.MainSection1 .MainContent .MainContent-content2 .MainContent-content2-first, 
.MainSection1 .MainContent .MainContent-content3 .MainContent-content3-first {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 28px;
    color: #ffffff; 
}

.MainSection1 .MainContent .MainContent-content1 .MainContent-content1-second, 
.MainSection1 .MainContent .MainContent-content2 .MainContent-content2-second, 
.MainSection1 .MainContent .MainContent-content3 .MainContent-content3-second {
    font-family: 'Lily Script One';
    font-style: oblique;
    font-weight: 700;
    font-size: 96px;
    color: #ffffff;
}

.MainSection1 .MainContent .MainContent-content1 .MainContent-content1-third, 
.MainSection1 .MainContent .MainContent-content2 .MainContent-content2-third, 
.MainSection1 .MainContent .MainContent-content3 .MainContent-content3-third {
    font-family: 'Inter';
    font-weight: 700;
    padding: 10px;
    font-size: 28px;
    color: #ffffff;
}


.MainSection2 {
    height: 1136px;
}

.MainSection2 .MainSec2-title {
    text-align: center;
    margin-top: 100px
}

.MainSection2 .sec2-swiper {
    margin-top: 15vh;
    padding-top: 40px;
    
}

.MainSection2 .sec2-swiper .img-box {
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 70%;
}

.MainSection2 .sec2-swiper .img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.MainSection2 .sec2-swiper .txt-box {
    margin-top: 26px;
    /* text-align: center; */
}

.MainSection2 .sec2-swiper .txt-box h4 {
    font-size: var(--font22);
    font-weight: 600;
    letter-spacing: var(--spacing03);
    line-height: var(--line03);
    color: var(--gray01);
    margin-bottom: 28px;
}

.MainSection2 .sec2-swiper .txt-box dl {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
}

.MainSection2 .sec2-swiper .txt-box dl dt {
    color: var(--gray01);
}

.MainSection2 .sec2-swiper .swiper-slide {
    transition: all 0.4s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 30px;
    
}
.MainSection2 .sec2-swiper .swiper-slide-active {
    transform: translateY(-40px);
}