.MainSection {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
                url("/public/img/banner.png");
    width: 100%;
    height: 900px;
    background-size: cover;
    overflow: hidden;
}

.MainSection .MainHeader {
    margin-top: 187px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 91px;

    color: #ffffff;
}

.MainSection .MainContent {    
    text-align: center;
    align-items: center;
}

.MainSection .MainContent .MainContent-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    display: flex;
    justify-content: center;
    list-style: none;
    color: #ffffff; 
}

.MainSection .MainContent .MainContent-content {
    font-family: 'Lily Script One';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;

    display: flex;
    justify-content: center;
    list-style: none;

    color: #ffffff;
}
