/* 마이페이지 헤더 */
.Mypageheader {
    width: 1920px;
    height: 104px;
    margin-top: 30px;
    background: #E8E8E8;
    display: flex;
}

.MypageHome {
    width: 104px;
    height: 104px;
    margin-left: 170px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 33px;
    height: 33px;
}

.Mypageheader2 {
    width: 334px;
    border-right: 1px solid #000000;
}

.MypageheaderLine {
    text-align: center;
    margin-top: 38px;
}

.mypagetext {
    width: 111px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

.mypagearrow {
    width: 17px;
    height: 17px;
    margin-left: 65px;
}

/* Account 마이페이지 */
.editPersonal {
    width: 75%;
    height: 70px;
    border-bottom: 4px solid #7E7E7E;
    margin: 50px auto auto 200px;
}

.AccountBody .editPersonal .logo {
    width: 70px;
    height: 57px;
}

.AccountText {
    width: 265px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-left: 50px;
}

.AccountInput {
    margin-left: 220px;
    display: flex;
    align-items: center;
    margin-top: 49px;
}

.logo {
    width: 70px;
    height: 57px;
}

.editText {
    width: 133px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.AccountInput2 {
    margin-left: 176px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.editText2 {
    width: 661px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.AccountInput3 {
    width: 595px;
    height: 109px;
    margin-left: 238px;
    margin-top: 35px;
    background: #D9D9D9;
    border-top: 6px solid #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AccountID {
    position: absolute;
    width: 89px;
    height: 39px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.AccountInputID {
    display: flex;
}

.AccountInputID2 {

    margin-top: 35px;
    border-top: 6px solid #B8B8B8;
}

.AccountExist {
    width: 595px;
    height: 108px;
    border: none;
}
