/* 마이페이지 헤더 */
.Mypageheader {
    width: 1920px;
    height: 74px;
    margin-top: 30px;
    background: #E8E8E8;
    display: flex;
}

.MypageHome {
    width: 74px;
    height: 74px;
    margin-left: 170px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
}

.Mypageheader2 {
    width: 334px;
    border-right: 1px solid #000000;
}

.MypageheaderLine {
    text-align: center;
    margin-top: 23px;
}

.mypagetext {
    width: 111px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #000000;

}

.mypagearrow {
    width: 17px;
    height: 17px;
    margin-left: 65px;
}

/* Account 마이페이지 */
.editPersonal {
    width: 75%;
    height: 70px;
    border-bottom: 4px solid #7E7E7E;
    margin: 50px auto auto 200px;
}

.AccountBody .editPersonal .logo {
    width: 70px;
    height: 57px;
}

.AccountText {
    width: 265px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-left: 50px;
}

.AccountInput {
    margin-left: 220px;
    display: flex;
    align-items: center;
    margin-top: 49px;
}

.logo {
    width: 70px;
    height: 57px;
}

.editText {
    /*width: 133px;*/
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.AccountInput2 {
    margin-left: 176px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.editText2 {
    /* width: 661px; */
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /*text-align: center;*/
    color: #000000;
    margin-left: 60px;
}

.AccountInput3 {
    width: 595px;
    height: 80px;
    margin-left: 238px;
    margin-top: 35px;
    background: #D9D9D9;
    border-top: 6px solid #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AccountInput4 {
    width: 595px;
    height: 80px;
    margin-left: 238px;
    /*margin-top: 35px;*/
    background: #D9D9D9;
    border-top: 3px solid #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AccountID {
    position: absolute;
    /* width: 89px; */
    height: 39px;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 39px;
    color: #000000;
}

.AccountInputID {
    display: flex;
}

.AccountInputID2 {
    margin-top: 35px;
    border-top: 6px solid #B8B8B8;
}

.AccountInputID4 {
    border-top: 3px solid #AAAAAA;
    display: flex;
}

.AccountInputID4 span {
    position: absolute;
    display: flex;
}


.AccountExist {
    width: 595px;
    height: 80px;
    border: none;
    font-size: 27px;
}

.InputBody {
    height: 500px;
}

.AccountBtn {
    margin-left: 45%;
    margin-top: 10%;
    width: 213px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background: #FFCFBB;
    font-size: 20px;
}


/* 마이페이지 css */
.MypageSelect {
    display: flex;
    box-sizing: border-box;
    width: 1440px;
    height: 241px;
    left: 426px;
    top: 198px;
    margin: 10px auto auto 200px;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    justify-content: space-evenly;
}

.circle {
    width: 157px;
    height: 157px;
    border-radius: 50%;
    background: #E0E0E0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mypageIcon {
    width: 66px;
    height: 66px;
}

.mypageIcon4 {
    width: 90px;
    height: 90px;
}

.mypageBox {
    height: 880px;
}

.Inquiry {
    font-size: 60px;
    font-weight: bold;
}

.mypageIcon1 {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 25px;
}

.mypageIcon2 {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 23px;
}

.mypageIcon3 {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 30px;
}

.mypageIcon5 {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 45px;
}

.InquiryText {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 26px;
}

.InquiryText2 {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 12px;
}

.InquiryText3 {
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 33px;
}

.passwordIcon {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-left: 550px;
    margin-top: 15px;
}


