.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f6f9;
    text-align: center;
    /* padding: 20px; */
    width: 100%;
}

.confirmation-icon {
    margin-bottom: 20px;
}

.confirmation-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.confirmation-text {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
}


/* 주문 완료 박스 */
.order-complete-box {
    background-color: #ffffff;
    width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 상단 제목 */
.order-complete-box h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333333;
}

/* 주문 번호 */
.order-number {
    font-size: 16px;
    color: #555555;
    margin-top: 10px;
}

/* 주문 상세 정보 */
.order-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 20px;
    color: #333333;
    width: 95%;
}

/* 각 정보 항목 */
.order-details div {
    text-align: left;
    padding: 0 10px;
}

.order-details .order-details-title {
    font-weight: bold;
}

.order-details hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
    width: 100%;
}

/* 버튼 그룹 */
.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.order-button-container {
    margin-top: 20px;
}

.button-main, .button-check {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.confirmation-buttons {
    margin: 5px;
}