/* div.ilovecode {
    width: 1228px;
    height: auto;
    display: flex;
    justify-content: center;
} */

div.postRewrite-section span,
div.postRewrite-section p {
    font-family: 'Inter';
    font-style: normal;
}

div.postRewrite-section {
    position: relative;
    /* display: flex;
    justify-content: center; */
    width: 1228px;
    background: #D9D9D9;
    margin-top: 10%;
    margin-left: 346px;
    margin-bottom: 5%;
}

div.postRewrite-section div.title-section {
    display: flex;
    justify-content: center;
    /* margin-right: 30%; */
    padding-top: 94px;
    margin-bottom: 52px;
}

div.postRewrite-section div.title-section div.title {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-right: 70px;
}

div.postRewrite-section div.title-section div.title span.title-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.title-section form.MuiBox-root {
    display: inline;
    position: relative;
    width: 714px;
    height: 54px;
    background: #FFFFFF;
    /* border: 1px solid #000000; */
    border-radius: 10px;
}

div.postRewrite-section div.title-section form.MuiBox-root div.MuiFormControl-root {
    width: 714px;
    height: 54px;
    margin: 0px;
    border-radius: 10px;
}

div.postRewrite-section div.title-section form.MuiBox-root div.MuiFormControl-root div.MuiInputBase-root {
    border-radius: 10px;
}

div.postRewrite-section div.category-section {
    display: flex;
    justify-content: center;
    /* margin-right: 30%; */
    margin-bottom: 52px;
}

div.postRewrite-section div.category-section div.category {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-right: 70px;
}

div.postRewrite-section div.category-section div.category span.category-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.category-section div.MuiBox-root {
    display: inline;
    position: relative;
    width: 714px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 10px;
}

div.postRewrite-section div.category-section div.MuiBox-root input {
    display: none;
}

div.postRewrite-section div.category-section div.MuiBox-root div.MuiFormControl-root div.MuiInputBase-root {
    width: 714px;
    height: 54px;
    border-radius: 10px;
}

div.postRewrite-section div.content-section {
    display: flex;
    justify-content: center;
    /* margin-right: 30%; */
    margin-bottom: 52px;
}

div.postRewrite-section div.content-section div.content {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-right: 70px;
}

div.postRewrite-section div.content-section div.content span.content-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.content-section form.MuiBox-root {
    display: inline;
    position: relative;
    width: 714px;
    height: 378px;
    box-sizing: border-box;
    background: #FFFFFF;
    /* border: 1px solid #000000; */
    border-radius: 10px;
}

div.postRewrite-section div.content-section form.MuiBox-root div.MuiFormControl-root {
    width: 714px;
    height: 378px;
    margin: 0px;
}

div.postRewrite-section div.content-section form.MuiBox-root div.MuiFormControl-root div.MuiInputBase-root {
    border-radius: 10px;
}

div.postRewrite-section div.groupCount-section {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
    margin-right: 24%;
}

div.postRewrite-section div.groupCount-section div.groupCount {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-top: 8px;
    margin-right: 70px;
}

div.postRewrite-section div.groupCount-section div.groupCount span.groupCount-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.groupCount-section div.current-count {
    display: inline-block;
}
    
div.postRewrite-section div.groupCount-section div.current-count div.MuiFormControl-root {
    margin-right: 29px;
    width: 154.69px;
    height: 53.93px;
    background: #FFFFFF;
    border-radius: 10px;
}

div.postRewrite-section div.groupCount-section div.current-count div.MuiFormControl-root div.MuiInputBase-root {
    border-radius: 10px;
}

div.postRewrite-section div.groupCount-section div.\/ {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #000000;
}

div.postRewrite-section div.groupCount-section div.maximum-count {
    display: inline-block;
}

/* div.postRewrite-section div.groupCount-section div.maximum-count input {
    margin-right: 29px;
    width: 154.69px;
    height: 53.93px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
} */
    
div.postRewrite-section div.groupCount-section div.maximum-count div.MuiFormControl-root {
    margin-right: 29px;
    width: 154.69px;
    height: 53.93px;
    background: #FFFFFF;
    border-radius: 10px;
}

div.postRewrite-section div.groupCount-section div.maximum-count div.MuiFormControl-root div.MuiInputBase-root {
    border-radius: 10px;
}

div.postRewrite-section div.meetingPoint-section {
    display: flex;
    justify-content: center;
    /* margin-right: 30%; */
    margin-bottom: 52px;
}

div.postRewrite-section div.meetingPoint-section div.meetingPoint {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-right: 70px;
}

div.postRewrite-section div.meetingPoint-section div.meetingPoint span.meetingPoint-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.meetingPoint-section form {

}

div.postRewrite-section div.test {
    margin-bottom: 181px;
}

div.postRewrite-section div.startdate-section {
    display: flex;
    justify-content: center;
    /* margin-right: 30%; */
    margin-bottom: 52px;
}

div.postRewrite-section div.startdate-section div.startdate {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-top: 28px;
    margin-right: 70px;
}

div.postRewrite-section div.startdate-section div.startdate span.startdate-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.startdate-section div.MuiStack-root {
    width: 714px;
    height: 85px;
}

div.postRewrite-section div.startdate-section div.MuiStack-root div.MuiFormControl-root {
    background: #FFFFFF;
    border-radius: 10px;
}

div.postRewrite-section div.startdate-section div.MuiStack-root div.MuiFormControl-root div.MuiInputBase-root {
    border-radius: 10px;
}

div.postRewrite-section div.enddate-section {
    display: flex;
    justify-content: center;
    /* margin-right: 30%; */
    margin-bottom: 105px;
}

div.postRewrite-section div.enddate-section div.enddate {
    position: relative;
    display: inline;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 167.44px;
    height: 54px;
    margin-top: 28px;
    margin-right: 70px;
}

div.postRewrite-section div.enddate-section div.enddate span.enddate-text {
    display: flex;
    height: 53.93px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

div.postRewrite-section div.enddate-section div.MuiStack-root {
    width: 714px;
    height: 85px;
}

div.postRewrite-section div.enddate-section div.MuiStack-root div.MuiFormControl-root {
    background: #FFFFFF;
    border-radius: 10px;
}

div.postRewrite-section div.enddate-section div.MuiStack-root div.MuiFormControl-root div.MuiInputBase-root {
    border-radius: 10px;
}

div.postRewrite-section div.button-section {
    display: flex;
    justify-content: center;
}

div.postRewrite-section div.button-section div.active-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 1021.65px;
    height: 50.45px;
    margin-bottom: 94px;
    border-radius: 30px;
    background: rgba(38, 139, 95, 0.5);
    cursor: pointer;
}

div.postRewrite-section div.button-section div.active-button img.activeIcon {
    width: 25.5px;
    height: 26.09px;
    margin-right: 2%;
}

div.postRewrite-section div.button-section div.active-button span.active-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}