/* div.ilovecode {
    position: relative;
    width: 1920px;
    height: auto;
} */

div.postRewrite-section {
    position: relative;
    /* display: flex;
    justify-content: center; */
    width: 1228px;
    background: #D9D9D9;
    margin-top: 10%;
}
