div.post p,
div.post span {
    font-family: 'Inter';
    font-style: normal;
}

div.post {
    position: relative;
    width: 1444px;
    height: 2606px;
    background: #D9D9D9;
    margin-top: 110px;
    margin-left: 227px;
}

div.post p.title {
    position: absolute;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: #000000;
    margin-top: 77px;
    margin-left: 133px;
}

div.post div.breadcrumb {
    position: absolute;
    display: inline-block;
    margin-top: 119px;
    /* margin-right: 114px; */
    right: 100px;
}

div.post div.breadcrumb img.breadcrumb-home {
    /* position: absolute; */
    width: 20px;
    height: 20px;
    display: inline;
}

div.post div.breadcrumb img.breadcrumb-arrow {
    /* position: absolute; */
    width: 20px;
    height: 20px;
    display: inline;
}

div.post div.breadcrumb span.breadcrumb-board {
    /* position: absolute; */
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

div.post div.breadcrumb img.breadcrumb-arrow2 {
    /* position: absolute; */
    width: 20px;
    height: 20px;
    display: inline;
}

div.post div.breadcrumb span.breadcrumb-category {
    /* position: absolute; */
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}   

div.post div.contour {
    position: absolute;
    width: 1200px;
    height: 1px;
    background: #000000;
    margin-top: 158px;
    margin-left: 133px;
}

div.post div.post-info1 {
    display: inline-block;
    box-sizing: border-box;
    width: 1202px;
    height: 57px;
    background: #FFFFFF;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #000000;
    margin-top: 195px;
    margin-left: 133px;
}

div.post div.post-info1 img.post-author-icon {
    /* position: absolute; */
    display: inline;
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 15px;
}

div.post div.post-info1 span.post-author {
    position: absolute;
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 18px;
}

div.post div.post-info1 img.post-calendar-icon {
    position: absolute;
    display: inline;
    width: 26px;
    height: 26px;
    margin-right: 138px;
    margin-top: 14px;
    margin-bottom: 17px;
    right: 100px;
}

div.post div.post-info1 span.post-writeday {
    position: absolute;
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 18px;
    margin-left: 10px;
    margin-right: 10px;
    right: 100px;
}

div.post div.post-info2 {
    /* position: relative; */
    display: inline-block;
    width: 220px;
    height: 40px;
    margin-left: 133px;
    margin-top: 50px;
}

div.post div.post-info2 img.post-group-icon {
    /* position: absolute; */
    display: inline;
    width: 40px;
    height: 40px;
}


div.post div.post-info2 span.post-group {
    position: absolute;
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

div.post div.post-info2 span.post-group2 {
    position: absolute;
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #268B5F;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 91px;
}

div.post div.post-info3 {
    position: relative;
    display: inline-block;
    width: 1444px;
}

div.post div.post-info3 div.post-member {
    position: absolute;
    display: inline-block;
    width: 129px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 133px;
}

div.post div.post-info3 div.post-member img.post-member-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 10px;
}

div.post div.post-info3 div.post-member span.post-member-name {
    position: absolute;
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 16px;
}

div.post div.post-info4 {
    position: absolute;
    width: 1202px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 98px;
    margin-left: 133px;
}

div.post div.post-info4 div.post-startdate {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 21px;
    margin-left: 20px;
}

div.post div.post-info4 div.post-startdate img.post-startdate-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

div.post div.post-info4 div.post-startdate span.post-startdate-text {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.post div.post-info4 div.post-enddate {
    margin-top: 11px;
    width: auto;
    height: auto;
    margin-left: 20px;
}

div.post div.post-info4 div.post-enddate img.post-enddate-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

div.post div.post-info4 div.post-enddate span.post-enddate-text {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.post div.post-info4 div.post-location {
    margin-top: 11px;
    width: auto;
    height: auto;
    margin-left: 20px;
}

div.post div.post-info4 div.post-location img.post-location-icon {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

div.post div.post-info4 div.post-location span.post-location-text {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.post div.post-info4 div.kakao-button {
    display: inline-block;
    width: auto;
    height: auto;
}

div.post div.post-info4 div.kakao-button div.goto-info-button {
    display: inline-block;
    width: 354px;
    height: 76px;
    background: #D9D9D9;
    border-radius: 20px;
    margin-top: 38px;
    margin-left: 193px;
}

div.post div.post-info4 div.kakao-button div.goto-info-button img.goto-info-icon {
    display: inline;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 21px;
    margin-left: 103px;
}

div.post div.post-info4 div.kakao-button div.goto-info-button span.goto-info-text {
    display: inline;
    position: absolute;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-left: 22px;
    margin-top: 23px;
    margin-bottom: 23px;
}

div.post div.post-info4 div.kakao-button div.goto-road-button {
    display: inline-block;
    width: 354px;
    height: 76px;
    background: #D9D9D9;
    border-radius: 20px;
    margin-top: 38px;
    margin-left: 112px;
}

div.post div.post-info4 div.kakao-button div.goto-road-button img.goto-road-icon {
    display: inline;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 21px;
    margin-left: 114px;
}

div.post div.post-info4 div.kakao-button div.goto-road-button span.goto-road-text {
    display: inline;
    position: absolute;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-left: 23px;
    margin-top: 26px;
    margin-bottom: 20px;
}

div.post div.post-info4 div.kakaomap {
    width: 1090px;
    height: 378px;
    margin-top: 39px;
    margin-left: 56px;
    margin-bottom: 88px;
    background-color: #268B5F;
}

div.post div.post-content {
    position: absolute;
    width: 1202px;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 900px;
    margin-left: 133px;
}

div.post div.post-content p.post-content-text {
    width: 930px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 22px;
    margin-left: 69px;
}

div.post div.post-comment {
    width: 1202px;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

div.post div.post-comment div.post-comment-header {

}

div.post div.post-comment div.post-comment-header span.QandA {

}

div.post div.post-comment div.post-comment-header span.QandA-count {

}

div.post div.post-comment div.post-comment-header div.QandA-button {

}

div.post div.post-comment div.post-comment-header div.QandA-button img.QandA-button-icon {

}

div.post div.post-comment div.post-comment-header div.QandA-button span.QandA-button-text {

}
