html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  width: 100%;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  font-family: "pretendard";
  border: 0;
  font-size: 16px;
}
input:focus {
  outline-offset: 0px;
  outline: none;
}
input::placeholder {
  font-family: "pretendard";
  font-size: 16px;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  background: transparent;
}
textarea::placeholder {
  font-family: "pretendard";
  font-size: 16px;
}
textarea:focus {
  outline-offset: 0px;
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "pretendard";
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}
select::-ms-expand {
  display: none;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  font-family: "pretendard";
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  position: relative;
  font-family: "pretendard";
  font-size: 16px;
  color: #12171e;
  font-weight: 400;
  letter-spacing: -0.8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
