.post-setting {
  width: 1220px;
  height: auto;
  /* background-color: rgb(220, 249, 249); */
  margin: auto;
  margin-top: 150px;
  box-sizing: border-box;
}
.Rpost-title {
  border: solid;
  color: rgb(0, 0, 0);
  width: 100px;
  padding: 10px 8px;
  margin-right: 100px;
}
.tes {
  display: flex;
  margin-bottom: 42px;
}

.css-ece9u5 {
  min-width: 1002px !important;
}

.css-13r4j3i .MuiTextField-root {
  width: 116ch !important;
  margin: 0 !important;
}

.wid {
  width: 500px;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 100px;
}
/*
.yellow-star {
color: gold; 
font-size: 1.2em; 
}
.review-rating {
    font-size: 1.2em;
}
*/
.uploaded-images {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}