.flex {
  display: flex;
}
.fd-c {
  flex-direction: column;
}
.ai-c {
  align-items: center;
}

h2 {
  margin: 0;
}
.host {
  margin-top: 16px;
  color: #7ee9bb;
}
.black {
  border: 1px solid #000 !important;
}
.p-r {
  position: relative;
}
.b-80 {
  bottom: 80px;
}

.teamDetail__main-header-line {
  border: 1px solid gray;
  margin: 5px 0;
  /* opacity: 0.5; */
}
.teamDetail__side-header-line {
  /* border: 1px solid #fffdfd; */
  border : 1px solid gray;
  margin: 10px 0;
  opacity: 0.5;
}

.teamDetail {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* width: 1440px; */
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  /* box-sizing: border-box; */
}

.teamDetail__main {
  /* background-color: #f6f6f6; */
  width: 867px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamDetail__main-image {
  background-color: rgb(17, 121, 24);
  width: 761px;
  height: 400px;
  margin: 36px 0;
  position: relative;
  z-index: 99;
}

.moveButton {
  position: absolute;
  top: 50%; /* Center the buttons vertically */
  width: 100%; /* Stretch the button container across the Swiper */
  display: flex;
  justify-content: space-between; /* Push buttons to opposite ends */
  align-items: center;
  transform: translateY(-50%);
  z-index: 2;
}

.prevButton,
.nextButton {
  width: 40px; /* Size of the buttons */
  height: 40px;
  cursor: pointer;
}

.prevButton {
  margin-left: 10px; /* Adjust spacing from the left */
}

.nextButton {
  margin-right: 10px; /* Adjust spacing from the right */
}
.teamDetail__main-header {
  /* margin: 5px 52.995px; */
  /* background-color: rgb(77, 164, 73); */
  width: 761px;
  margin-top: 15px;
}
.teamDetail__main-content {
  /* margin: 5px 52.995px; */
  /* background-color: rgb(77, 164, 73); */
  width: 761px;
  margin-bottom: 36px;
}
.teamDetail__main-content-title {
  padding-bottom: 25px;
}
.teamDetail__main-content-title-option_list {
  position: sticky;
  top: 0;
  width: 761px;
  background: #ffffff;
  /* border-radius: 10px; */
  margin-bottom: 70px;

}
.teamDetail__main-content-title-option_list .navarea {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  /* border-radius: 10px; */
  border-bottom: 2px solid blueviolet;
}
.teamDetail__main-content-title-option_list .navarea li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  list-style: none;
  font-size: 24px;
  position: relative;
  font-weight: 550;
  color: #000000;
}
.teamDetail__main-content-title-option_list .navarea li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 2px;
  background-color: blueviolet;
}
.teamDetail__main-content-text {
  scroll-margin-top: 80px;
}
.teamDetail__main-content-text-title {
  font-size: 35px;
  font-weight: 550;
  padding: 15px;
}
.teamDetail__main-content-text-text {
  font-size: 20px;
  font-weight: 300;
  padding: 25px;
}


.teamDetail__main-review {
  background-color: #ffffff;
  width: 761px;
  height: 650.34px;
  display: flex;
  margin-bottom: 36px;
}
.teamDetail__main-review-profileIcon {
  margin-left: 40px;
  margin-top: 40px;
}
.profile {
  width: 60px;
}
.teamDetail__main-review-header {
  display: flex;
  margin-top: 40px;
  width: 600px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
}
.teamDetail__main-review-wrap {
  margin-left: 10px;
}
.teamDetail__main-review-star {
  width: 36px;
  height: 36px;
}
.teamDetail__main-review-photo {
  /* background-color: #00ff45; */
  display: flex;
  justify-content: space-between;
}
.photos {
  background-color: aliceblue;
  width: 168px;
}
.teamDetail__side {
  border: 1px solid blueviolet;
  background-color: #fffdfd;
  margin-left: 35px;
  width: 538px;
  /* height: 1400px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center; /* 수직 정렬 */
  align-items: center; /* 수평 정렬 */
  /* height: 100vh; 화면 높이에 맞추기 */
}
.teamDetail__side-header {
  /* background-color: aliceblue; */
  width: 361px;
  /* height: 164px; */
}
.teamDetail__side-radio {
  /* background-color: rgb(129, 181, 227); */
  width: 361px;
  display: flex;
}
.teamDetail__side-image {
  width: 361px;
  height: 200px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.teamDetail__side-image img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.teamDetail__side-image .img-text {
  position: absolute;
  margin: 0;
  width: 30px;
  height: 25px;
  text-align: center;
  top: 87.6%;
  left: 92%;
  color: white;
  background-color: purple;
}

.teamDetail_modal_swiper {
  width: 800px;
  height: 800px;
  /* background-color: #fff; */
  /* text-align: center; */
}

.teamDetail_modal_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamDetail__side-content-text-text {
  margin-right: 16px;
}
.teamDetail__side-content-text-text2 {
  color: #3a3b45;
}
.teamDetail__side-description {
  width: 361px;
  /* background-color: rgb(27, 80, 127); */
}
.teamDetail__side-calendar-header {
  width: 361px;
  background-color: aliceblue;
  height: 200px;
}
.teamDetail__side-legend {
  width: 361px;
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
}
.teamDetail__side-legend-wrap {
  display: flex;
}
.teamDetail__side-legend-boxColor1 {
  background-color: #ffd600;
  width: 20px;
  margin-right: 5px;
}
.teamDetail__side-legend-boxColor2 {
  background-color: #a5a6b9;
  width: 20px;
  margin-right: 5px;
}
.teamDetail__side-legend-boxColor3 {
  background-color: #50f6af;
  width: 20px;
  margin-right: 5px;
}
.teamDetail__side-choiceTime {
  width: 361px;
  background-color: #ffffff;
  height: 60px;
}
.teamDetail__side-count-control {
  width: 370px;
  background-color: #ffffff;
  height: 60px;
}
.teamDetail__side-price {
  width: 370px;
  display: flex;
  justify-content: flex-end;
  color: #000000;
  margin: 16px 0 32px;
}
.teamDetail__side-buttons-wrap {
  display: flex;
  position: relative;
  margin: 15px 0 25px;
}
.teamDetail__side-buttons {
  position: absolute;
  top: 50%; /* Center the buttons vertically */
  width: 100%; /* Stretch the button container across the Swiper */
  display: flex;
  justify-content: space-between; /* Push buttons to opposite ends */
  align-items: center;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.8;
}
.teamDetail__side-contact-actions-buttons {
  display: flex;
  margin-left: 35px;
  justify-content: space-between;
}
.teamDitail__call-chating {
  display: flex;
}

.teamDetail__main-image .swiper {
  width: 100%;
  height: 100%;
}

.teamDetail__main-image .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
 
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamDetail__main-image .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* calendar */
.MuiPickersDay-root {
  box-sizing: border-box;
  color: #000000 !important;
}

.MuiPickersDay-root.Mui-disabled {
  background-color: #a5a6b9 !important; /* 비활성화된 날짜의 배경색 */
  color: #000000 !important;
}

.MuiPickersDay-root.Mui-selected {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: #7ee9bb !important; /* 선택된 날짜의 배경색 */
  color: #000000 !important;
}

.MuiPickersDay-root.Mui-selected:hover,
.MuiPickersDay-root.Mui-selected:focus {
  background-color: #7ee9bb !important; /* 선택된 날짜에서 hover와 focus 상태 */
  color: #000000 !important;
}

.MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #000000 !important;
}

.MuiPickersDay-root.MuiPickersDay-today {
  background-color: #ffd600 !important; /* 오늘 날짜의 배경색 */
}

/* 시간선택 */
.toggleButtonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 350px;
  padding: 8px;
  justify-content: space-evenly;
}

.toggleButton {
  border-radius: 8px;
  width: 80px; /* 버튼의 고정 너비 */
  height: 36px; /* 버튼의 고정 높이 */
  background-color: #ffd600 !important; /* 기본 배경색 */
  color: #000; /* 기본 텍스트 색상 */
  padding: 10px 16px; /* 버튼 내부 여백 */
  font-weight: bold;

  &:hover {
    background-color: #ffd600; /* hover 시 배경색을 기본 배경색과 동일하게 설정 */
  }

  &.Mui-selected {
    background-color: #7ee9bb !important; /* 선택된 버튼의 배경색 */
    color: #000; /* 선택된 버튼의 텍스트 색상 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */

    &:hover {
      background-color: #7ee9bb !important; /* 선택된 버튼 위에 마우스를 올렸을 때 배경색 유지 */
    }
  }
}

.toggleButton.blur {
  background-color: #a5a6b9 !important;
  color: #fff;
}
