h2 {
  margin: 0;
}
.host {
  margin-top: 16px;
  color: #7ee9bb;
}

.teamDetail__main-header-line {
  border: 1px solid #fffdfd;
  margin: 5px 0;
  opacity: 0.5;
}
.teamDetail__side-header-line {
  border: 1px solid #fffdfd;
  margin: 10px 0;
  opacity: 0.5;
}

.teamDetail {
  display: flex;
  flex-direction: row;
  /* background-color: gray; */
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.teamDetail__main {
  background-color: #d9d9d9;
  width: 867px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamDetail__main-image {
  background-color: rgb(17, 121, 24);
  width: 761px;
  height: 400px;
  margin: 36px 0;
  position: relative;
  z-index: 99;
}

.moveButton {
  position: absolute;
  top: 50%; /* Center the buttons vertically */
  width: 100%; /* Stretch the button container across the Swiper */
  display: flex;
  justify-content: space-between; /* Push buttons to opposite ends */
  align-items: center;
  transform: translateY(-50%);
  z-index: 2;
}

.prevButton,
.nextButton {
  width: 40px; /* Size of the buttons */
  height: 40px;
  cursor: pointer;
}

.prevButton {
  margin-left: 10px; /* Adjust spacing from the left */
}

.nextButton {
  margin-right: 10px; /* Adjust spacing from the right */
}

.teamDetail__main-content {
  /* margin: 5px 52.995px; */
  /* background-color: rgb(77, 164, 73); */
  width: 761px;
  margin-bottom: 36px;
}
.teamDetail__main-review {
  background-color: #ffffff;
  width: 761px;
  height: 650.34px;
  display: flex;
  margin-bottom: 36px;
}
.teamDetail__main-review-profileIcon {
  margin-left: 40px;
  margin-top: 40px;
}
.profile {
  width: 60px;
}
.teamDetail__main-review-header {
  display: flex;
  margin-top: 40px;
  width: 600px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
}
.teamDetail__main-review-wrap {
  margin-left: 10px;
}
.teamDetail__main-review-star {
  width: 36px;
  height: 36px;
}
.teamDetail__main-review-photo {
  /* background-color: #00ff45; */
  display: flex;
  justify-content: space-between;
}
.photos {
  background-color: aliceblue;
  width: 168px;
}
.teamDetail__side {
  background-color: #d9d9d9;
  margin-left: 35px;
  width: 538px;
  /* height: 1400px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center; /* 수직 정렬 */
  align-items: center; /* 수평 정렬 */
  /* height: 100vh; 화면 높이에 맞추기 */
}
.teamDetail__side-header {
  /* background-color: aliceblue; */
  width: 361px;
  /* height: 164px; */
}
.teamDetail__side-radio {
  /* background-color: rgb(129, 181, 227); */
  width: 361px;
  display: flex;
}
.teamDetail__side-image {
  width: 361px;
  height: 200px;
  background-color: #ffffff;
}
.teamDetail__side-description {
  width: 361px;
  /* background-color: rgb(27, 80, 127); */
}
.teamDetail__side-calendar-header {
  width: 361px;
  background-color: aliceblue;
  height: 200px;
}
.teamDetail__side-legend {
  width: 361px;
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
}
.teamDetail__side-legend-wrap {
  display: flex;
}
.teamDetail__side-legend-boxColor1 {
  background-color: #ffd600;
  width: 20px;
  margin-right: 5px;
}
.teamDetail__side-legend-boxColor2 {
  background-color: #a5a6b9;
  width: 20px;
  margin-right: 5px;
}
.teamDetail__side-legend-boxColor3 {
  background-color: #50f6af;
  width: 20px;
  margin-right: 5px;
}
.teamDetail__side-choiceTime {
  width: 361px;
  background-color: #ffffff;
  height: 60px;
}
.teamDetail__side-count-control {
  width: 370px;
  background-color: #ffffff;
  height: 60px;
}
.teamDetail__side-buttons-wrap {
  display: flex;
  position: relative;
  margin: 15px 0 25px;
}
.teamDetail__side-buttons {
  position: absolute;
  top: 50%; /* Center the buttons vertically */
  width: 100%; /* Stretch the button container across the Swiper */
  display: flex;
  justify-content: space-between; /* Push buttons to opposite ends */
  align-items: center;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.8;
}
.teamDetail__side-contact-actions-buttons {
  display: flex;
  margin-left: 35px;
  justify-content: space-between;
}
.teamDitail__call-chating {
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.time-togglebutton {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 버튼 간의 간격을 설정 */
}

.time-togglebutton .MuiToggleButton-root {
  flex: 1 0 14%; /* 한 줄에 6개씩 나오도록 너비를 16.66%로 설정 */
  margin-bottom: 1px; /* 버튼 아래쪽 여백 */
}
/* :root {
  --swiper-theme-color: #7ee9bb;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: #ffd600;
} */
