h2 {
  margin: 0;
}

.teamDetail {
  display: flex;
  flex-direction: row;
  background-color: gray;
  width: 1440px;
  height: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.teamDetail__main {
  background-color: rgb(126, 54, 54);
  width: 867px;
  height: 1400px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center; /* 수직 정렬 */
  align-items: center; /* 수평 정렬 */
  height: 100vh; /* 화면 높이에 맞추기 */
}

.teamDetail__main-image {
  background-color: rgb(117, 139, 139);
  width: 761px;
  height: 364px;
  margin: 36px 0;
}
.teamDetail__main-content {
  /* margin: 5px 52.995px; */
  background-color: rgb(77, 164, 73);
  width: 761px;
  margin-bottom: 36px;
}
.teamDetail__main-review {
  background-color: rgb(117, 139, 139);
  width: 761px;
  height: 650.34px;
  display: flex;
  margin-bottom: 36px;
}
.teamDetail__main-review-profileIcon {
  margin-left: 40px;
  margin-top: 40px;
}
.profile {
  width: 60px;
}
.teamDetail__main-review-header {
  display: flex;
  margin-top: 40px;
  width: 600px;
  height: 36px;
  background-color: #00ff45;
  justify-content: space-between;
}
.teamDetail__main-review-name {
}
.teamDetail__main-review-star {
  width: 36px;
  height: 36px;
}
.teamDetail__main-review-photo {
  background-color: #00ff45;
  display: flex;
  justify-content: space-between;
}
.photos {
  background-color: aliceblue;
  width: 168px;
}
.teamDetail__side {
  background-color: rgb(126, 54, 54);
  margin-left: 35px;
  width: 538px;
  /* height: 1400px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center; /* 수직 정렬 */
  align-items: center; /* 수평 정렬 */
  /* height: 100vh; 화면 높이에 맞추기 */
}
.teamDetail__side-header {
  background-color: aliceblue;
  width: 361px;
  /* height: 164px; */
}
.teamDetail__side-radio {
  background-color: rgb(129, 181, 227);
  width: 361px;
  display: flex;
}
.teamDetail__side-image {
  width: 361px;
  height: 200px;
  background-color: rgb(19, 38, 54);
}
.teamDetail__side-description {
  width: 361px;
  background-color: rgb(27, 80, 127);
}
.teamDetail__side-calendar-header {
  width: 361px;
  background-color: aliceblue;
  height: 200px;
}
.teamDetail__side-legend {
  width: 361px;
  display: flex;
  justify-content: space-around;
}
.teamDetail__side-legend-wrap {
  display: flex;
}
.teamDetail__side-legend-boxColor {
  background-color: black;
  width: 20px;
}
.teamDetail__side-choiceTime {
  width: 361px;
  background-color: rgb(10, 69, 121);
  height: 60px;
}
.teamDetail__side-count-control {
  width: 370px;
  background-color: rgb(10, 69, 121);
  height: 60px;
}
.teamDetail__buttons {
  display: flex;
  margin-left: 35px;
  justify-content: space-between;
}
.teamDitail__call-chating {
  display: flex;
}
