<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        <typeAlias alias="MemberVo" type="com.project.SnakeProject.vo.MemberVo"></typeAlias>-->
<!--        <typeAlias alias="CommunityVo" type="com.project.SnakeProject.vo.CommunityVo"></typeAlias>-->
<!--        <typeAlias alias="CommunityCategoryVo" type="com.project.SnakeProject.vo.CommunityCategoryVo"></typeAlias>-->
<!--        <typeAlias alias="CommunityCommentVo" type="com.project.SnakeProject.vo.CommunityCommentVo"></typeAlias>-->

<!--        <typeAlias alias="StudyGInfoVo" type="com.project.SnakeProject.vo.StudyGInfoVo"></typeAlias>-->
<!--        <typeAlias alias="StudyGImgVo" type="com.project.SnakeProject.vo.StudyGImgVo"></typeAlias>-->
<!--        <typeAlias alias="StudyGPareVo" type="com.project.SnakeProject.vo.StudyGPareVo"></typeAlias>-->
<!--        <typeAlias alias="StudyGOrderVo" type="com.project.SnakeProject.vo.StudyGOrderVo"></typeAlias>-->

<!--        <typeAlias alias="StudyReviewImgVo" type="com.project.SnakeProject.vo.StudyReviewImgVo"></typeAlias>-->

<!--        <typeAlias alias="MemberAlarmVo" type="com.project.SnakeProject.vo.MemberAlarmVo"></typeAlias>-->
    </typeAliases>
    <mappers>
        <package name="com.project.SnakeDev.mapper"/>
    </mappers>
</configuration>
