<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.BoardMapper">
    <select id="viewAll" resultType="com.project.SnakeDev.vo.BoardVo">
        SELECT * FROM tbl_class
    </select>
</mapper>