<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.CommunityMapper">

    <select id="ViewCommunity" resultType="com.project.SnakeDev.vo.CommunityVo">
        <![CDATA[
        select * from (
            SELECT
                c.*,
                COUNT(ts.COMIDX) AS GroupCount
            FROM
                tbl_community c
            LEFT JOIN
                tbl_TogetherStudy ts
            ON
                c.COMIDX = ts.COMIDX
            GROUP BY
                c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT
            ORDER BY
                c.COMIDX DESC
        ) where rownum <= 5
        ]]>
    </select>

    <select id="ViewCurrentCommunity" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="String">
        <![CDATA[
        SELECT * FROM (
            SELECT
                c.*,
                COUNT(ts.COMIDX) AS GroupCount
            FROM
                tbl_community c
            LEFT JOIN
                tbl_TogetherStudy ts
            ON
                c.COMIDX = ts.COMIDX
            WHERE comcateidx = (select comcateidx from tbl_community_category where comcatename = #{currentCategory})
            GROUP BY
                c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT
            ORDER BY
                c.COMIDX DESC
            )
        WHERE ROWNUM <= 2
        ]]>
    </select>

    <select id="ViewCommunityCategory" resultType="com.project.SnakeDev.vo.CommunityCategoryVo">
        select * from tbl_community_category where comcateusestate = 'Y'
    </select>

    <select id="ViewPost" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="String">
        select
            c.*,
            m.MemberName,
            m.MemberId,
            cc.ComCateName as comCategoryName,
            (SELECT MAX(CCGroupNum) FROM tbl_community_comment WHERE comidx = #{comIdx}) AS maxCCGroupNum
        from
            tbl_community c
                join
            tbl_member m on c.midx = m.midx
                left join
            tbl_community_category cc on c.COMCATEIDX = cc.COMCATEIDX
        where
            c.comidx = #{comIdx}
        group by
            c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT, m.MemberName, m.MemberId, cc.ComCateName
    </select>

    <select id="ViewGroupMember_forPost" resultType="com.project.SnakeDev.vo.TogetherStudyVo" parameterType="String">
        select
            ts.*,
            m.MemberName,
            m.MemberId
        from
            tbl_TogetherStudy ts
        join
            tbl_member m on ts.midx = m.midx
        where
            ts.comidx = #{comIdx}
    </select>

    <select id="ViewPost_forPostRewrite" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="String">
        select
            c.*,
            cc.COMCATENAME as comCategoryName
        from
            tbl_community c
                join tbl_member m on c.midx = m.midx
                join tbl_community_category cc on c.comcateidx = cc.comcateidx
        where
            c.comidx = #{comIdx}
    </select>

    <select id="ViewGroupMember_forPostRewrite" resultType="com.project.SnakeDev.vo.TogetherStudyVo" parameterType="String">
        select
            ts.*,
            m.MemberName
        from
            tbl_TogetherStudy ts
                join tbl_member m on ts.midx = m.midx
        where
            comidx = #{comIdx}
    </select>

    <select id="ViewComment" resultType="com.project.SnakeDev.vo.Community_CommentVo" parameterType="map">
        WITH CommentWithDenseRank AS (
            SELECT
                tcc.*,
                tm.membername,
                tm.memberId,
                DENSE_RANK() OVER (ORDER BY tcc.CCGROUPNUM DESC) AS dense_rank
            FROM
                tbl_community_comment tcc
                    JOIN
                tbl_member tm ON tcc.midx = tm.midx
            WHERE
                tcc.comidx = #{comIdx}
        )
        SELECT
            *
        FROM
            CommentWithDenseRank
        WHERE
            dense_rank BETWEEN (#{currentPage} * #{commentSize} - (#{commentSize} - (#{commentSize} - 1))) AND (#{currentPage} * #{commentSize})
    </select>

    <select id="ViewCommentSize" resultType="int" parameterType="String">
        WITH RankedComments AS (
            SELECT
                tcc.*,
                DENSE_RANK() OVER (ORDER BY tcc.CCGROUPNUM DESC) AS dense_rank
            FROM
                tbl_community_comment tcc
            WHERE
                tcc.comidx = #{comIdx}
        )
        SELECT
            NVL(CEIL(MAX(dense_rank) / 2), 0) AS pageSize
        FROM
            RankedComments
    </select>

    <select id="ViewMoreCommunity" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="map">
        SELECT
            c.*,
            COUNT(ts.COMIDX) AS GroupCount
        FROM
            tbl_community c
        LEFT JOIN
            tbl_TogetherStudy ts
        ON
            c.COMIDX = ts.COMIDX
        WHERE
            comcateidx = (select comcateidx from tbl_community_category where comcatename = #{currentCategory})
        GROUP BY
            c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT
        ORDER BY
            c.COMIDX DESC
        OFFSET #{int_ContentNumber} ROWS FETCH NEXT 1 ROWS ONLY
    </select>

    <select id="ViewStudyroom" resultType="com.project.SnakeDev.vo.StudyGInfoVo">
        select
            s.*,
            listagg(g.sgimg, ', ') within group (order by g.sgiidx) as studyGImgs
        from
            tbl_studyginfo s
        left join
            tbl_studygimg g on s.sgiidx = g.sgiidx
        group by
            s.sgiidx, s.scidx, s.sginum, s.sgiusestate, s.sgicontent1, s.sgicontent2
    </select>

    <update id="updateCommunity" parameterType="com.project.SnakeDev.vo.CommunityVo">
        update tbl_community
            set ComIdx = #{ComIdx},
                ComCateIdx = (select ComCateIdx from tbl_community_category where comCateName = #{comCategoryName}),
                ComTitle = #{ComTitle},
                ComContent = #{ComContent},
                ComRegDate = TO_DATE(#{ComRegDate}, 'YYYY-MM-DD HH24:MI:SS'),
                ComDelDate = TO_DATE(#{ComDelDate}, 'YYYY-MM-DD HH24:MI:SS'),
                ComUpDate = TO_DATE(#{ComUpDate}, 'YYYY-MM-DD HH24:MI:SS'),
                ComintoDate = #{ComintoDate},
                ComToCount = #{ComToCount},
                ComStartDate = TO_DATE(#{ComStartDate}, 'YYYY-MM-DD HH24:MI:SS'),
                ComEndDate = TO_DATE(#{ComEndDate}, 'YYYY-MM-DD HH24:MI:SS'),
                ComPlace = #{ComPlace},
                ComZipcode = #{ComZipcode},
                ComAddress = #{ComAddress},
                ComReportCount = #{ComReportCount}
            where comidx = #{ComIdx}
    </update>

    <delete id="deleteTogetherStudy" parameterType="map">
        DELETE FROM tbl_TogetherStudy
        WHERE comidx = #{comIdx}
            AND (comidx, midx) NOT IN (
                <foreach collection="groupMemberInfos" item="item" open="(" close=")" separator=",">
                    #{item.comIdx}, #{item.midx}
                </foreach>
            )
    </delete>

    <insert id="insert_comment_question" parameterType="map">
        insert into tbl_community_comment
        values
        (c##snake2.ComComment_seq.NEXTVAL, (select Midx from tbl_member where MemberId = #{sessionId}), #{comIdx}, 1, 1, (#{maxCCGroupNum} + 1), #{comment}, SYSDATE, to_date('9999-12-31 00:00', 'YYYY/MM/DD HH24:MI'), to_date('9999-12-31 00:00', 'YYYY/MM/DD HH24:MI'), 0)
    </insert>

    <insert id="insert_comment_reply" parameterType="map">
        insert into tbl_community_comment
        values
            (c##snake2.ComComment_seq.NEXTVAL, (select Midx from tbl_member where MemberId = #{sessionId}), #{comIdx}, 2, 2, #{currentCommentGroupNum}, #{comment}, SYSDATE, to_date('9999-12-31 00:00', 'YYYY/MM/DD HH24:MI'), to_date('9999-12-31 00:00', 'YYYY/MM/DD HH24:MI'), 0)
    </insert>

    <update id="updateComment_forSelf" parameterType="map">
        update tbl_community_comment set cccontent = #{comment}, ccupdate = SYSDATE where ccidx = #{currentComment}
    </update>

    <update id="deleteComment" parameterType="map">
        update tbl_community_comment set ccdeldate = SYSDATE where (ccidx = #{comment_ccidx} or ccgroupnum = #{comment_ccgroupnum}) and comidx = #{comment_comidx}
    </update>

    <update id="reportComment" parameterType="int">
        update tbl_community_comment set ccreportcount = ccreportcount + 1 where ccidx = #{comment_ccidx}
    </update>

</mapper>