<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.CommunityMapper">

    <select id="ViewCommunity" resultType="com.project.SnakeDev.vo.CommunityVo">
        <![CDATA[
        select * from (
            SELECT
                c.*,
                COUNT(ts.COMIDX) AS GroupCount
            FROM
                tbl_community c
            LEFT JOIN
                tbl_TogetherStudy ts
            ON
                c.COMIDX = ts.COMIDX
            GROUP BY
                c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT
            ORDER BY
                c.COMIDX DESC
        ) where rownum <= 5
        ]]>
    </select>

    <select id="ViewCurrentCommunity" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="String">
        SELECT
            c.*,
            COUNT(ts.COMIDX) AS GroupCount
        FROM
            tbl_community c
                LEFT JOIN
            tbl_TogetherStudy ts
            ON
                c.COMIDX = ts.COMIDX
        WHERE comcateidx = (select comcateidx from tbl_community_category where comcatename = #{currentCategory})
        GROUP BY
            c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT
        ORDER BY
            c.COMIDX DESC
    </select>

    <select id="ViewCommunityCategory" resultType="com.project.SnakeDev.vo.CommunityCategoryVo">
        select * from tbl_community_category where comcateusestate = 'Y'
    </select>

    <select id="ViewPost" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="String">
        select
            c.*,
            m.MemberName,
            listagg(ts.Midx, ', ') within group (order by ts.Midx) as MemberNames
        from
            tbl_community c
            join
            tbl_member m on c.midx = m.midx
            left join
            tbl_TogetherStudy ts on c.comidx = ts.comidx
        where
            c.comidx = #{comidx}
        group by
            c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE, c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS, c.COMREPORTCOUNT, m.MemberName
    </select>

    <select id="ViewPost_forPostRewrite" resultType="com.project.SnakeDev.vo.CommunityVo" parameterType="String">
        select
            c.*,
            cc.COMCATENAME as comCategoryName,
            listagg(m2.MemberName, ', ') within group (order by m2.MemberName) as MemberNames,
            COUNT(ts.COMIDX) AS MemberCount
        from
            tbl_community c
            join tbl_member m on c.midx = m.midx
            join tbl_community_category cc on c.comcateidx = cc.comcateidx
            left join tbl_TogetherStudy ts on c.comidx = ts.comidx
            left join tbl_member m2 on ts.midx = m2.midx
        where
            c.comidx = #{comIdx}
        group by
            c.COMIDX, c.COMCATEIDX, c.MIDX, c.COMTITLE, c.COMCONTENT, c.COMREGDATE, c.COMDELDATE, c.COMUPDATE,
            c.COMINTODATE, c.COMTOCOUNT, c.COMSTARTDATE, c.COMENDDATE, c.COMPLACE, c.COMZIPCODE, c.COMADDRESS,
            c.COMREPORTCOUNT, cc.COMCATENAME
    </select>

    <select id="ViewComment" resultType="com.project.SnakeDev.vo.Community_CommentVo" parameterType="String">
        select tcc.*,tm.membername  from tbl_community_comment tcc, tbl_member tm  where tcc.comidx = #{comidx} and tcc.midx = tm.midx
    </select>

</mapper>