<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.MainMapper">
    <!--  룸 모든 정보 보여줄때 사진 보여주기 위한 resultMap(한장의 사진)  -->
    <resultMap id="StudyGImgVo" type="com.project.SnakeDev.vo.StudyGImgVo">
        <constructor>
            <arg column="SGImg" javaType="String" />
        </constructor>
    </resultMap>
    <!--  룸 상세 정보 보여줄 때 룸의 대한 가격 정보 보여주기 위한 resultMap  -->
    <resultMap id="StudyGPareVo" type="com.project.SnakeDev.vo.StudyGPareVo">
        <constructor>
            <arg column="SGIIdx" javaType="java.lang.Integer" />
            <arg column="SGPPrice" javaType="java.lang.Integer" />
        </constructor>
    </resultMap>
    <resultMap id="StudyGInfoVo" type="com.project.SnakeDev.vo.StudyGInfoVo">
        <result column="SGINum" property="SGINum" />
        <result column="SGIContent1" property="SGIContent1" />
        <result column="SGIContent2" property="SGIContent2" />
        <collection property="studyGImgVo" resultMap="StudyGImgVo" />
    </resultMap>
    <resultMap id="StudyGInfoVo2" type="com.project.SnakeDev.vo.StudyGInfoVo">
        <result column="SGINum" property="SGINum" />
        <result column="SGIUseState" property="SGIUseState" />
        <result column="SGIContent1" property="SGIContent1" />
        <result column="SGIContent2" property="SGIContent2" />
        <result column="SGIDContent1" property="SGIDContent1" />
        <result column="SGIDContent2" property="SGIDContent2" />
        <result column="SGIDContent3" property="SGIDContent3" />
        <result column="SGIDContent4" property="SGIDContent4" />
        <result column="SGIDContent5" property="SGIDContent5" />
        <result column="SGIDContent6" property="SGIDContent6" />
        <result column="SGIDContent7" property="SGIDContent7" />
        <result column="SGIDContent8" property="SGIDContent8" />
        <result column="SGIDContent9" property="SGIDContent9" />
        <result column="SGIDContent10" property="SGIDContent10" />
        <collection property="studyGImgVo" resultMap="StudyGImgVo" />
        <collection property="studyGPareVo" resultMap="StudyGPareVo" />
    </resultMap>
    <select id="ViewStudyGInfo" resultMap="StudyGInfoVo">
        select sgi.SGINum as SGINum ,
               sgi.SGIContent1 as SGIContent1,
               sgi.SGIContent2 as SGIContent2,
               (select rs.sgimg
                from
                    (
                        select
                            a.*,
                            row_number() over (partition by SGIIdx order by SGImg) as rn
                        from tbl_studygimg a
                        where a.sgiidx = sgi.sgiidx
                    ) rs
                where rs.rn = 1
               ) as SGImg
        from Tbl_studyGinfo sgi
    </select>
    <select id="ViewStudyInInfo" resultType="com.project.SnakeDev.vo.StudyInInfoVo">
        SELECT * FROM Tbl_StudyInInfo
    </select>
    <select id="ViewStudyGInfoDetail" resultMap="StudyGInfoVo2">
        select sgi.SGINum,
               sgi.SGIUseState,
               sgi.SGIContent1,
               sgi.SGIContent2,
               TO_CHAR(sgid.sgidcontent1) sgidcontent1,
               TO_CHAR(sgid.SGIdContent2) sgidcontent2,
               TO_CHAR(sgid.SGIdContent3) sgidcontent3,
               TO_CHAR(sgid.SGIdContent4) sgidcontent4,
               sgid.sgidcontent5,
               sgid.sgidcontent6,
               sgid.sgidcontent7,
               sgid.sgidcontent8,
               sgid.sgidcontent9,
               sgid.sgidcontent10,
               sgp.SGIIdx,
               sgp.SGPPrice,
               LISTAGG(sgimg.SGImg, ', ') WITHIN GROUP (ORDER BY sgimg.SGImg) AS SGImg
        from Tbl_studyGinfo sgi
            inner join tbl_studyginfodetail sgid on sgi.sgiidx = sgid.sgiidx
            LEFT JOIN Tbl_StudyGPare sgp ON sgi.SGIIdx = sgp.SGIIdx
            INNER JOIN Tbl_studyGImg sgimg ON sgi.SGIIdx = sgimg.SGIIdx
        where sgi.SGIIdx = #{sginum}
        group by
            sgi.sginum,
            sgi.sgiusestate,
            sgi.sgicontent1,
            sgi.sgicontent2,
            TO_CHAR(sgid.sgidcontent1),
            TO_CHAR(sgid.SGIdContent2),
            TO_CHAR(sgid.SGIdContent3),
            TO_CHAR(sgid.SGIdContent4),
            sgid.sgidcontent5,
            sgid.sgidcontent6,
            sgid.sgidcontent7,
            sgid.sgidcontent8,
            sgid.sgidcontent9,
            sgid.sgidcontent10,
            sgp.sgiidx,
            sgp.sgpprice,
            sgimg.sgimg
    </select>
    <select id="selectTime" resultType="com.project.SnakeDev.vo.StudyGOrderVo">
        select
            to_char(sgoregdate, 'yyyy-mm-dd') as sgoregdate,
            to_char(sgostartdate, 'HH24') as sgostartdate,
            to_char(sgoenddate, 'HH24') as sgoenddate
        from tbl_studygorder where sgiidx = #{sginum}
    </select>
    <insert id="saveTemplateOrder" parameterType="map">
        insert into tbl_templateorder
        values (
                   #{TTOIdx},
                   #{TTOContent},
                   'N',
                   (select midx from tbl_member where memberid = #{MemberId})
               )
    </insert>
    <select id="selectTemplateOrder" resultType="String">
        select ttocontent from tbl_templateorder where ttoidx = #{orderid}
    </select>
    <update id="updateTemplateOrder" parameterType="java.lang.String">
        update tbl_templateorder set ttostate = 'Y' where ttoidx = #{orderid}
    </update>
    <insert id="InsertOrderPay" parameterType="map">
        insert into tbl_studyorderpay (TsopIdx, MIdx, TsopMethod, TsopPrice, TsopStatus, TsopDate, TsopDivi)
        values
            (
                #{pay.TSOPIdx},
                (select midx from tbl_member where memberId = #{MemberId}),
                #{pay.TSOPMethod},
                #{pay.TSOPPrice},
                #{pay.TSOPStatus},
                sysdate,
                #{pay.TSOPDivi}
            )
    </insert>
    <insert id="InsertGOrderWait" parameterType="map">
        insert into tbl_studygorder (SGONum, SGIIdx, MIdx, TSOPIdx, SGORegDate, SGOStartDate, SGOEndDate, SGOtotal, SGOPeople)
        values
            (
                #{wait.SGONum},
                #{wait.studyGInfoVo.SGIIdx},
                (select midx from tbl_member where memberId = #{MemberId}),
                #{wait.studyOrderPayVo.TSOPIdx},
                to_date(#{wait.SGORegDate}, 'yyyy-mm-dd'),
                to_date(#{wait.SGOStartDate}, 'yyyy-mm-dd HH24:mi'),
                to_date(#{wait.SGOEndDate}, 'yyyy-mm-dd HH24:mi'),
                #{wait.SGOtotal},
                #{wait.SGOPeople}
            )
    </insert>
    <update id="InsertInOrderWait" parameterType="java.util.HashMap">
        <choose>
            <when test='SIPName == "4주"'>
                update tbl_member set
                    MStartinDate = case
                        when MEndinDate > sysdate then MStartinDate
                        else sysdate
                    end,
                    MEndinDate = case
                        when MEndinDate > sysdate then to_char(to_date(MEndinDate, 'YYYY-MM-DD') + 28)
                        else to_char(to_date(sysdate, 'YYYY-MM-DD') + 28)
                    end
                where memberId = #{MemberId}
            </when>
            <when test='SIPName == "8주"'>
                update tbl_member set
                    MStartinDate = case
                        when MEndinDate > sysdate then MStartinDate
                        else sysdate
                    end,
                    MEndinDate = case
                        when MEndinDate > sysdate then to_char(to_date(MEndinDate, 'YYYY-MM-DD') + 56)
                        else to_char(to_date(sysdate, 'YYYY-MM-DD') + 56)
                    end
                where memberId = #{MemberId}
            </when>
            <when test='SIPName == "1년정기권"'>
                update tbl_member set
                    MStartinDate = case
                        when MEndinDate > sysdate then MStartinDate
                        else sysdate
                    end,
                    MEndinDate = case
                        when MEndinDate > sysdate then ADD_MONTHS(MEndinDate, 12)
<!--                to_char(add_months(MEndinDate, 12), 'YYYY-MM-DD'))-->
                        else ADD_MONTHS(sysdate, 12)
<!--                to_char(to_date(add_months(sysdate, 12), 'YYYY-MM-DD'))-->
                    end
                where memberId = #{MemberId}
            </when>
            <otherwise>
                update tbl_member set MUseTime = MUseTime + #{SIPName, jdbcType=INTEGER} where memberId = #{MemberId}
            </otherwise>
        </choose>
    </update>
    <select id="myTimeInfo" resultType="com.project.SnakeDev.vo.AuthVo">
        select MUseTime,
           CASE
               WHEN MEndinDate > TRUNC(SYSDATE) THEN MEndinDate
           ELSE NULL
           END AS MEndinDate
        from tbl_member where memberid = #{MemberId}
    </select>
    <select id="selectStudyininfo" resultType="java.lang.Integer">
        select count(*) from tbl_studyininfo tsi
                                 inner join tbl_member tm on tm.midx = tsi.midx
        where tm.midx = (select midx from tbl_member where memberid = #{MemberId})
    </select>
    <select id="selectOptionTime" resultType="java.lang.Integer">
        select count(*) from tbl_member
            where midx = (select midx from tbl_member where memberid = #{MemberId}) and
                to_date(sysdate, 'YYYY-MM-DD HH24:mi:ss') between
                to_date(mstartindate, 'YYYY-MM-DD HH24:mi:ss') and to_date(mendindate, 'YYYY-MM-DD HH24:mi:ss');
    </select>
    <select id="selectOptionTime2" resultType="java.lang.Integer">
        <![CDATA[
        select count(*) from tbl_member where
            midx = (select midx from tbl_member where MemberId = #{MemberId}) and
            Musetime > #{selectedOption}
        ]]>
    </select>
    <update id="updateIntime" parameterType="map">
        update tbl_memberininfo set musetime =
            case when musetime >= #{selectedOption} then musetime - #{selectedOption}
            else musetime - 0 end
        where midx = (select midx from tbl_member where memberid = #{MemberId})
    </update>
    <update id="updateStudyInInfo" parameterType="map">
        UPDATE Tbl_StudyInInfo SET
           MIdx = (select midx from tbl_member where memberid = #{MemberId}),
           SeatUseState = 'Y',
           SeatStartTime = to_date(#{seat.SeatStartTime}, 'YYYY-MM-DD HH24:mi:ss'),
           SeatEndTime = to_date(#{seat.SeatEndTime}, 'YYYY-MM-DD HH24:mi:ss')
        WHERE SCIdx = 1111 and SeatNum = (select SeatNum from Tbl_StudyInInfo where SIINum = #{seatNum})
    </update>
</mapper>