<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.MypageMapper">
    <!--  본인이 예약한 그룹방 명을 가져오기 위한 vo  -->
    <resultMap id="StudyGInfoVo" type="com.project.SnakeDev.vo.StudyGInfoVo">
        <constructor>
            <arg column="SGIContent1" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <!--  본인이 예약한 그룹방에 대한 결제 확인  -->
    <resultMap id="StudyOrderPayVo" type="com.project.SnakeDev.vo.StudyOrderPayVo">
        <constructor>
            <arg column="TSOPStatus" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <!--  본인이 충전한 금액에 대한 결제 내역  -->
    <resultMap id="StudyOrderPayVo2" type="com.project.SnakeDev.vo.StudyOrderPayVo">
        <constructor>
            <arg column="TSOPPrice" javaType="java.lang.Integer" />
            <arg column="TSOPStatus" javaType="java.lang.String" />
            <arg column="TSOPDate" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <resultMap id="StudyGOrderVo" type="com.project.SnakeDev.vo.StudyGOrderVo">
        <result column="SGONum" property="SGONum" />
        <result column="SGORegDate" property="SGORegDate" />
        <result column="SGOStartDate" property="SGOStartDate" />
        <result column="SGOEndDate" property="SGOEndDate" />
        <result column="SGOtotal" property="SGOtotal" />
        <result column="SGOPeople" property="SGOPeople" />
        <collection property="studyGInfoVo" resultMap="StudyGInfoVo" />
        <collection property="studyOrderPayVo" resultMap="StudyOrderPayVo" />
    </resultMap>
    <resultMap id="TemplateOrderVo" type="com.project.SnakeDev.vo.TemplateOrderVo">
        <result column="TTOContent" property="TTOContent" />
        <collection property="studyOrderPayVo" resultMap="StudyOrderPayVo2" />
    </resultMap>

    <select id="getUserInfo" resultType="com.project.SnakeDev.vo.AuthVo">
        SELECT *
        FROM tbl_member
        WHERE MemberId = #{memberId} and MemberPw = #{memberPw}
    </select>

    <select id="getMemberInfo" resultType="com.project.SnakeDev.vo.AuthVo">
        select
            tm.membername as MemberName,
            tm.memberid as MemberId,
            tm.memberpw as MemberPw,
            tm.memberphone as MemberPhone,
            tma.maaddress as MAaddress,
            tma.mdetailaddress as MDetailaddress,
            tma.mzonecode as MZoneCode,
            tma.malatitude as Malatitude,
            tma.malongitude as Malongitude

        from tbl_member tm
                 inner join tbl_memberaddress tma on tm.midx = tma.midx
        where tm.memberid = #{memberId}
    </select>

    <update id="updateMemberInfo" parameterType="com.project.SnakeDev.vo.AuthVo">
        update tbl_member
        set
            membername = #{memberName},
            memberpw = #{memberPw},
            memberphone = #{memberPhone}
        where memberid = #{memberId}
    </update>

    <update id="updateMemberAddress" parameterType="com.project.SnakeDev.vo.AuthVo">
        update tbl_memberaddress
        set
            maaddress = #{MAaddress},
            mdetailaddress = #{MDetailaddress},
            mzonecode = #{MZonecode},
            malatitude = #{MAlatitude},
            malongitude = #{MAlongitude}
        where midx = (select midx from tbl_member where memberid = #{memberId})
    </update>

    <select id="getUpdateInfo" resultType="com.project.SnakeDev.vo.AuthVo">
        SELECT * FROM tbl_member WHERE MemberId = #{memberId}
    </select>

    <select id="ViewStudyInPare" resultType="com.project.SnakeDev.vo.StudyInPareVo">
        select SipIdx,
               SipName as SipName,
               REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(SipName, '\(.+\)'), ' '), '시간'), '이용권') as SipName1,
               SipPrice
        from tbl_studyinpare
    </select>

    <select id="mypageAddTime" resultType="com.project.SnakeDev.vo.AuthVo">
        select MUseTime,
               CASE
                   WHEN MEndinDate > TRUNC(SYSDATE) THEN MEndinDate
                   ELSE NULL
                   END AS MEndinDate
        from tbl_member where memberid = #{memberid}
    </select>

    <select id="getBoardInfo" resultType="com.project.SnakeDev.vo.StudyCommunityVo">
        select
            tm.comcateidx as comcateidx,
            tm.midx as midx,
            tm.comtitle as comtitle,
            tm.comcontent as comcontent,
            tm.comregdate as comregdate,
            tm.comintodate as comintodate,
            tma.memberId as MemberId,
            tma.memberName as memberName
        from tbl_community tm
                 inner join tbl_member tma
                            on tm.midx = tma.midx
        where tma.memberid = #{memberId}
    </select>

    <select id="getReviewInfo" resultType="com.project.SnakeDev.vo.StudyReviewVo">
        select
            tm.sridx as sridx,
            tm.sgiidx as sgiidx,
            tm.midx as midx,
            tm.srcontent as srcontent,
            tm.srstar as srstar,
            tm.srregdate as srregdate,
            tma.memberId as memberId,
            tma.memberName as memberName
        from tbl_studyReview tm
                 inner join tbl_member tma
                            on tm.midx = tma.midx
        where memberid = #{memberId}
    </select>

    <select id="mypageGroupCheck" resultMap="StudyGOrderVo">
        select
            tsg.sgonum,
            to_char(tsg.sgoregdate, 'YYYY-mm-dd') as SGORegDate,
            tsi.sgicontent1,
            to_char(tsg.sgostartdate, 'HH24:Mi') as SGOStartDate,
            to_char(tsg.sgoenddate, 'HH24:Mi') as SGOEndDate,
            tsg.sgopeople,
            tsg.sgototal,
            tsop.tsopstatus
        from tbl_studygorder tsg
             inner join tbl_studyorderpay tsop on tsg.tsopidx = tsop.tsopidx
             inner join tbl_studyginfo tsi on tsg.sgiidx = tsi.sgiidx
             inner join tbl_member tm on tsg.midx = tm.midx
        where tm.midx = (select midx from tbl_member where memberid = #{MemberId})
        order by tsg.sgoregdate desc
    </select>

    <select id="mypageInviCheck" resultMap="TemplateOrderVo">
        select
            tsop.TSOPPrice as TSOPPrice,
            tsop.TSOPStatus as TSOPStatus,
            tsop.TSOPDate as TSOPDate,
            tto.TTOContent as TTOContent
        from tbl_templateorder tto
             inner join tbl_member tm on tto.midx = tm.midx
             inner join tbl_studyorderpay tsop on tsop.tsopidx = tto.ttoidx
        where tm.midx = (select midx from tbl_member where memberid = #{MemberId}) and
            tsop.tsopstatus = 'Y' and
            tsop.tsopdivi = 'InviOrder'
        order by tsop.TSOPDate desc
    </select>

    <insert id="InsertCustomerHelp" parameterType="map">
        INSERT INTO tbl_customerHelp (CHIdx, MIDX, CHContent, CHTitle, CHDate)
        VALUES (
                   #{CHIdx},
                   (SELECT MIDX FROM TBL_MEMBER WHERE MEMBERID = #{MemberId}),
                   #{CHContent},
                   #{CHTitle},
                   sysdate
               )
    </insert>

    <select id="getCustomerHelpInfo" resultType="com.project.SnakeDev.vo.CustomerHelpVo">
        select
            tm.chidx as chidx,
            tm.midx as midx,
            tm.chcontent as chcontent,
            tm.chtitle as chtitle,
            tm.chdate as chdate,
            tma.memberId as memberId,
            tma.memberName as memberName
        from tbl_customerhelp tm
                 inner join tbl_member tma
                            on tm.midx = tma.midx
        where tma.memberid = #{memberId}
    </select>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM tbl_member WHERE memberId = #{memberId}
    </delete>


    <!--    <insert id="insertPayment" par ameterType="com.project.SnakeDev.vo.StudyOrderPayVo">-->
<!--        insert into tbl_studyorderpay (tsopidx, midx, tsopmethod, tsopprice, tsopstatus, tsopdate, tsopdivi)-->
<!--        values (#{tsopidx}, #{midx}, #{tsopmenthod}, #{tsopprice}, #{tsopstatus}, #{tsopdate}, #{tsopdivi})-->
<!--    </insert>-->
</mapper>