<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.NotificationMapper">

    <select id="ViewNotification" resultType="com.project.SnakeDev.vo.NotificationVo" parameterType="map">
        select ma.* from tbl_member_alarm ma, tbl_member m where m.MemberId = #{MemberId} and m.MemberName = #{MemberName}
    </select>

</mapper>