<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.NotificationMapper">

    <select id="ViewNotification" resultType="com.project.SnakeDev.vo.NotificationVo" parameterType="map">
        select
            ma.*
        from tbl_member_alarm ma
            inner join tbl_member m on ma.midx = m.midx
        where m.MemberId = #{sessionId} and m.MemberName = #{sessionName}
        order by madate desc
    </select>
    <insert id="OrderNotification">
        insert into tbl_member_alarm (maidx, midx, macontent, madate)
        values (
                    MALARM_SEQ.nextval,
                    (select midx from tbl_member where memberid = #{MemberId}),
                    #{MaContent},
                    sysdate
               )
    </insert>
    <delete id="notificationdel" parameterType="java.lang.Integer">
        delete from tbl_member_alarm where maidx = #{maidx, jdbcType=INTEGER}
    </delete>

    <delete id="notificationdelall">
        delete from tbl_member_alarm
    </delete>
</mapper>