<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.ReviewMapper">

    <insert id="InsertReview" parameterType="map">
        insert into tbl_studyreview (sridx, sgiIdx, mIdx, srcontent, srstar, srRegDate)
        values (
                SREVIEW_SEQ.nextval,
                #{sgiIdx},
                (select mIdx from tbl_member where memberid = #{memberId}),
                #{srContent},
                #{srStar},
                sysdate)
    </insert>

<!--    <insert id="InsertReviewImg" parameterType="map">-->
<!--        insert into tbl_studyreviewimg (sriImgIdx, srIdx, sriImg)-->
<!--        values ( -->
<!--            SIINFO_SEQ.nextval,-->
<!--            SREVIEW_SEQ.nextval,-->
<!--            #{sriimg}-->
<!--        )-->
<!--    </insert>-->

    <insert id="insertReviewImage" parameterType="String">
        <![CDATA[
        insert into tbl_studyreviewimg (sriImgIdx, srIdx, sriImg)
        values (
            ComCom_seq.nextval,
            (select * from (select sridx from tbl_studyreview order by sridx desc) where rownum <= 1),
            #{sriImg}
        )
        ]]>
    </insert>

<!--    <insert id="insertReviewImage" parameterType="map">-->
<!--        insert into tbl_studyreviewimg (sriImgIdx, srIdx, sriImg)-->
<!--        values (-->
<!--                   SIINFO_SEQ.nextval,-->
<!--                   (select srIdx from tbl_studyreview where sgiIdx = #{sgiIdx}),-->
<!--                   #{rs}-->
<!--               )-->
<!--    </insert>-->

<!--    <insert id="InsertReivewTag" parameterType="map">-->
<!--        insert into tbl_studyhastaglist (tshtlidx, tshtlcontent)-->
<!--        values (-->
<!--            SRMEMBERTAG_SEQ,-->
<!--            #(tshtlcontent)-->
<!--        )-->
<!--    </insert>-->
</mapper>
