<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeDev.mapper.ReviewMapper">

    <insert id="InsertReview" parameterType="map">
        insert into tbl_studyreview (sridx,sgiidx, midx, srcontent, srstar, srRegDate)
        values (
                #{srIdx},
                #{sgiIdx},
                (select midx from tbl_member where = #{memberId}),
                #{srContent},
                #{srStar},
                sysdate)
    </insert>

</mapper>
